<main class="site__main">

  <section class="site__entry">
    <div class="container">
      <div class="row align-items-end">
        <div class="col-12 col-lg-3"></div>
        <div class="col-12 col-lg-6"><h1 class="family-heading mb-0 text-center">O nás</h1></div>
        <div class="col-12 col-lg-3"></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="links">
            {% set current = path('<current>')|split('/') %}
            <a href="/oz" class="link article-category-menu-item {% if current.1 == "oz" %}active{% endif %}">OZ Žijem vedu</a>
            <a href="/tim" class="link article-category-menu-item {% if current.1 == "tim" %}active{% endif %}">Tím Žijem vedu</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <h1 class="family-heading">Žijem vedu</h1>
          <p class="subheading">Pôvodne ako neformálna skupina vedkýň a vedcov sme 2. augusta 2018 založili občianske združenie Žijem vedu. Zastrešenie pod právnu entitu nám umožnuje rozširovať naše aktivity vo viacerých smeroch, ako aj zapájať sa do rôznych výziev a grantových schém.</p>
        </div>
        <div class="col-12 col-md-6 col-lg-7 offset-lg-1">
          <h2>Pridáte sa k nám?</h2>
          <p>Súčasťou tímu môžete byť aj vy.</p>
          <p>Len nám napíšte na zijemvedu@zijemvedu.sk alebo cez sociálne siete a my sa ozveme späť.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="pb-4">
    <div class="container">
      <h3 class="text-center mb-4">Občianske združenie je vedené Radou občianskeho združenia Žijem vedu.</h3>
      <div class="row py-4">
        <div class="col-12 col-md-6 col-lg">
          <div class="member">
            <p class="fw-bold color-violet mb-0">Dominika Fričová</p>
            <span class="member__meta">predsedníčka rady</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg">
          <div class="member">
            <p class="fw-bold color-violet mb-0">Dominika Hroššová</p>
            <span class="member__meta">podpredsedníčka rady</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg">
          <div class="member">
            <p class="fw-bold color-violet mb-0">Jana Laláková</p>
            <span class="member__meta">podpredsedníčka rady</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg">
          <div class="member">
            <p class="fw-bold color-violet mb-0">Martina Dekanová</p>
            <span class="member__meta">výkonná riaditeľka</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg">
          <div class="member">
            <p class="fw-bold color-violet mb-0">Lenka Belicová</p>
            <span class="member__meta">členka rady</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="events py-4 d-none">

    <div class="container">
      <div class="row my-4">
        <h3 class="text-center">Míľniky a dôležité momenty pre Žijem vedu OZ</h3>
      </div>
    </div>

    <div class="container timeline pt-3">

      <div class="row row--timeline flex-lg-row-reverse">
        <div class="col-11 col-md-9 col-lg-5 d-none d-lg-block"></div>
        <div class="col-1 col-md-3 col-lg-2">
          <div class="timeline__point"><span></span></div>
        </div>
        <div class="col-11 col-md-9 col-lg-5">
          <div class="timeline__event timeline__event--left">
            <div class="label-base">27. septembra 2019</div>
            <div class="timeline__box">
              <h4>Žijemvedu prvýkrát súčasťou Európskej noci výskumníkov</h4>
              <p>Žijemvedu bude mať svoj stánok na Európskej noci výskumníkov v Bratislave.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row row--timeline">
        <div class="col-11 col-md-9 col-lg-5 d-none d-lg-block"></div>
        <div class="col-1 col-md-3 col-lg-2">
          <div class="timeline__year"><span>2019</span></div>
        </div>
        <div class="col-11 col-md-9 col-lg-5"></div>
      </div>

      <div class="row row--timeline">
        <div class="col-11 col-md-9 col-lg-5 d-none d-lg-block"></div>
        <div class="col-1 col-md-3 col-lg-2">
          <div class="timeline__point"><span></span></div>
        </div>
        <div class="col-11 col-md-9 col-lg-5">
          <div class="timeline__event">
            <div class="label-base">21. decembra 2018</div>
            <div class="timeline__box">
              <h4>Žijem vedu naživo 2018</h4>
              <p>Žijemvedu bude mať svoj stánok na Európskej noci výskumníkov v Bratislave.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row row--timeline flex-lg-row-reverse">
        <div class="col-11 col-md-9 col-lg-5 d-none d-lg-block"></div>
        <div class="col-1 col-md-3 col-lg-2">
          <div class="timeline__point"><span></span></div>
        </div>
        <div class="col-11 col-md-9 col-lg-5">
          <div class="timeline__event timeline__event--left">
            <div class="label-base">10. decembra 2018</div>
            <div class="timeline__box">
              <h4>Žijemvedu prvýkrát súčasťou Európskej noci výskumníkov</h4>
              <p>Žijemvedu bude mať svoj stánok na Európskej noci výskumníkov v Bratislave.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row row--timeline">
        <div class="col-11 col-md-9 col-lg-5 d-none d-lg-block"></div>
        <div class="col-1 col-md-3 col-lg-2">
          <div class="timeline__point"><span></span></div>
        </div>
        <div class="col-11 col-md-9 col-lg-5">
          <div class="timeline__event">
            <div class="label-base">17. októbra 2018</div>
            <div class="timeline__box">
              <h4>ZvedaVec roka 2018</h4>
              <p>Platforma ŽIJEMVEDU.SK vyhlasuje súťaž ZvedaVec roka. Termín na odosielanie svojich príspevkov je 06. decembra 2018. Od 07. decembra 2018 bude môcť každý člen ŽV zahlasovať za svojho víťaza na FB stranke…</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row row--timeline flex-lg-row-reverse">
        <div class="col-11 col-md-9 col-lg-5 d-none d-lg-block"></div>
        <div class="col-1 col-md-3 col-lg-2">
          <div class="timeline__point"><span></span></div>
        </div>
        <div class="col-11 col-md-9 col-lg-5">
          <div class="timeline__event timeline__event--left">
            <div class="label-base">2. augusta 2018</div>
            <div class="timeline__box">
              <h4>Založenie Občianského združenia</h4>
              <p>Žijemvedu bude mať svoj stánok na Európskej noci výskumníkov v Bratislave.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row row--timeline">
        <div class="col-11 col-md-9 col-lg-5 d-none d-lg-block"></div>
        <div class="col-1 col-md-3 col-lg-2">
          <div class="timeline__point"><span></span></div>
        </div>
        <div class="col-11 col-md-9 col-lg-5">
          <div class="timeline__event">
            <div class="label-base">17. októbra 2018</div>
            <div class="timeline__box">
              <h4>Stretnutie s vedením APVV</h4>
              <p>Platforma ŽIJEMVEDU.SK vyhlasuje súťaž ZvedaVec roka. Termín na odosielanie svojich príspevkov je 06. decembra 2018. Od 07. decembra 2018 bude môcť každý člen ŽV zahlasovať za svojho víťaza na FB stranke…</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row row--timeline flex-lg-row-reverse">
        <div class="col-11 col-md-9 col-lg-5 d-none d-lg-block"></div>
        <div class="col-1 col-md-3 col-lg-2">
          <div class="timeline__point"><span></span></div>
        </div>
        <div class="col-11 col-md-9 col-lg-5">
          <div class="timeline__event timeline__event--left">
            <div class="label-base">5. februára 2018</div>
            <div class="timeline__box">
              <h4>500 členov vo FB skupine Zijem vedu</h4>
              <p>Február bol významný mesiac pre ŽIJEMVEDU.SK. Nielenže viacerí členovia hlavného organizačného a administratívneho tímu ŽV oslavovali tento mesiac zaujímavé jubileá, ale naša skupina na FB, Zijem vedu, cez noc presiahla…</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row row--timeline">
        <div class="col-11 col-md-9 col-lg-5 d-none d-lg-block"></div>
        <div class="col-1 col-md-3 col-lg-2">
          <div class="timeline__point"><span></span></div>
        </div>
        <div class="col-11 col-md-9 col-lg-5">
          <div class="timeline__event">
            <div class="label-base">21. januára 2018</div>
            <div class="timeline__box">
              <h4>Otvorený list slovenských vedcov</h4>
              <p>Počas nultého ročníka konferencie Žijem vedu naživo (konal sa 22. decembra 2017, na pôde Slovenskej akadémie vied v Bratislave) sa stretlo viac ako 120 vedcov, študentov a učiteľov a spoločne…</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row row--timeline">
        <div class="col-11 col-md-9 col-lg-5 d-none d-lg-block"></div>
        <div class="col-1 col-md-3 col-lg-2">
          <div class="timeline__year"><span>2018</span></div>
        </div>
        <div class="col-11 col-md-9 col-lg-5"></div>
      </div>

      <div class="row row--timeline flex-lg-row-reverse">
        <div class="col-11 col-md-9 col-lg-5 d-none d-lg-block"></div>
        <div class="col-1 col-md-3 col-lg-2">
          <div class="timeline__point"><span></span></div>
        </div>
        <div class="col-11 col-md-9 col-lg-5">
          <div class="timeline__event timeline__event--left">
            <div class="label-base">22. decembra 2017</div>
            <div class="timeline__box">
              <h4>Žijem vedu naživo 2017</h4>
              <p>Nultý ročník konferencie slovenských vedcov, ktorá sa konala v predvianočnom období. Pozrite si informácie o programe, prednášajúcich, fotografiách a video záznam.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row row--timeline">
        <div class="col-11 col-md-9 col-lg-5 d-none d-lg-block"></div>
        <div class="col-1 col-md-3 col-lg-2">
          <div class="timeline__point"><span></span></div>
        </div>
        <div class="col-11 col-md-9 col-lg-5">
          <div class="timeline__event">
            <div class="label-base">6. augusta 2017</div>
            <div class="timeline__box">
              <h4>“Nie je nám to ukradnuté!”</h4>
              <p>Zverejnenie iniciatívy “Nie je nám to ukradnuté!”, pod ktorú sa doteraz podpísalo 233 vedcov, pôsobiacich v zahraničí, 146 vedcov na Slovensku a 22 ľudí mimo vedeckého prostredia.  Iniciatíva vznikla ako…</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row row--timeline">
        <div class="col-11 col-md-9 col-lg-5 d-none d-lg-block"></div>
        <div class="col-1 col-md-3 col-lg-2">
          <div class="timeline__year"><span>2017</span></div>
        </div>
        <div class="col-11 col-md-9 col-lg-5"></div>
      </div>

      <div class="row row--timeline flex-lg-row-reverse">
        <div class="col-11 col-md-9 col-lg-5 d-none d-lg-block"></div>
        <div class="col-1 col-md-3 col-lg-2">
          <div class="timeline__point"><span></span></div>
        </div>
        <div class="col-11 col-md-9 col-lg-5">
          <div class="timeline__event timeline__event--left">
            <div class="label-base">27. septembra 2016</div>
            <div class="timeline__box">
              <h4>Založenie platformy žijemvedu.sk</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="row row--timeline">
        <div class="col-11 col-md-9 col-lg-5 d-none d-lg-block"></div>
        <div class="col-1 col-md-3 col-lg-2">
          <div class="timeline__year"><span>2016</span></div>
        </div>
        <div class="col-11 col-md-9 col-lg-5"></div>
      </div>

    </div>
  </section>



  <section class="events py-4 d-none">

    <div class="container">
      <div class="row">
        <?php if (count($events) > 0): ?>
        <?php foreach ($events as $event): ?>
        <div class="col-12 col-lg-6">
          <a href="#" class="event__block">
            <div class="event__image">
              <div class="event__placeholder"></div>
            </div>
            <div class="event__content">
              <div class="d-flex align-items-center mb-2 fs-7 text-muted"><span class="label-gradient"><?= $event->start->format('d. m. Y'); ?></span> <?= $event->location; ?></div>
              <h4 class="mb-2 color-violet"><?= $event->title; ?></h4>
              <p class="mb-auto"><?= $event->body; ?></p>
            </div>
          </a>
        </div>
        <?php endforeach; ?>
        <?php endif; ?>

      </div>
    </div>

  </section>

</main>

<footer class="site__footer">

  <div class="footer__upper">

    <div class="media">
      <div class="container">

        {{ page.newsletter_block }}

        <div class="row py-5">
          <div class="col-xl-6 offset-xl-3">
            {{ page.followus_block }}
          </div>
        </div>
      </div>
    </div>

    {{ page.partners_block }}

  </div>

  {{ footer_lower }}

</footer>

