/.idea
/web/sites/*/*settings*.php
settings.local.php
/web/sites/*/*services*.yml
!settings.php
!services.yml
/vendor/

# Ignore paths that contain user-generated content.
/web/sites/*/files/*

# Do not ignore config
!/web/sites/default/files/config_*/

# Ignore modules contrib directory, because we use composer install on server
/web/modules/contrib

/web/sites/*/private
/web/core
/web/themes/contrib
/web/profiles/contrib
/web/libraries


# Ignore SimpleTest multi-site environment.
/web/sites/simpletest

# Ignore macOS system files
_DS_Store
