/.idea
/web/sites/*/*settings*.php
settings.local.php
/web/sites/*/*services*.yml

/vendor/

# Ignore paths that contain user-generated content.
/web/sites/*/files/*
!/web/sites/default/files/config_*/



/web/sites/*/private

# Ignore SimpleTest multi-site environment.
/web/sites/simpletest

_DS_Store
