.fixed-top {
  top: inherit;
  z-index:100;
}

.freeweb-banner {
  right: 0;
  position: fixed;
  top: 380px;
  z-index:10;
}

img.align-left,
[data-align="left"] {
  float: left;
  margin: 0 1rem 1rem 0;
}

img.align-right,
[data-align="right"] {
  float: right;
  margin: 0 0 1rem 1rem;
}

img.align-center,
[data-align="center"] {
  margin:1rem auto;
  display: block;
  padding: 2rem;
}

.recnik {
  margin-bottom: 20px;
}

.recnik-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.recnik-info .bio {
  flex-grow: 2;
}

.sponzori {
  align-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.sponzori .logo {
  margin-bottom:20px;
}
