.fixed-top {
  top: inherit;
  z-index:100;
}

.freeweb-banner {
  right: 0;
  position: fixed;
  top: 380px;
  z-index:10;
}

img.align-left,
[data-align="left"] {
  float: left;
  margin: 0 1rem 1rem 0;
}

img.align-right,
[data-align="right"] {
  float: right;
  margin: 0 0 1rem 1rem;
}

img.align-center,
[data-align="center"] {
  margin:1rem auto;
  display: block;
  padding: 2rem;
}

.recnik {
  margin-bottom: 20px;
}

.recnik-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.recnik-info .bio {
  flex-grow: 2;
}

.sponzori {
  align-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.sponzori .logo {
  margin-bottom:20px;
}

.status-message {
  background: linear-gradient(90deg, #ff00d7 0%, #d7a86d 100%) !important;
  padding: 10px;
  /* border: 1px solid #000; */
  border-radius: 5px;
  color:#fff;
}

.placeholder {
  display: inline;
  vertical-align: inherit;
  background-color: transparent;
  opacity: 1;
  cursor: inherit;
}

.podcast-categories ul {
  display: flex;
}

.podcast-categories ul li {
  flex-direction: row;
  list-style: none;
}

.crooked {
  opacity: 0.7;
  transform: rotate(5deg);
  transition-duration: 200ms;
  transition-property: opacity, transform;
}

.crooked:hover {
  opacity: 1;
  transform: scale(1.2) rotate(0);
}
