
<div class="col-12 col-xl-10 offset-xl-1">


<!--
<ul class="nav nav-tabs links" id="years" role="tablist">
  <li class="active nav-item"><a class="link article-category-menu-item" data-toggle="tab" href="#intro">Úvod</a></li>
  <li class="nav-item"><a class="link article-category-menu-item" data-toggle="tab" href="#2021">2021</a></li>
  <li class="nav-item"><a class="link article-category-menu-item" data-toggle="tab" href="#2019">2019</a></li>
  <li class="nav-item"><a class="link article-category-menu-item" data-toggle="tab" href="#2018">2018</a></li>
  <li class="nav-item"><a class="link article-category-menu-item" data-toggle="tab" href="#2017">2017</a></li>
  <li class="nav-item"><a class="link article-category-menu-item" data-toggle="tab" href="#comparison">Porovnanie</a></li>
  <li class="nav-item"><a class="link article-category-menu-item" data-toggle="tab" href="#conclusion">Záver</a></li>
</ul>
-->
<ul class="nav nav-tabs links" id="years" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="link nav-link active" id="intro-tab" data-bs-toggle="tab" data-bs-target="#intro" type="button" role="tab" aria-controls="intro" aria-selected="true">Úvod</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="link nav-link" id="year-2022-tab" data-bs-toggle="tab" data-bs-target="#year-2022" type="button" role="tab" aria-controls="year-2022" aria-selected="false">2022</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="link nav-link" id="year-2021-tab" data-bs-toggle="tab" data-bs-target="#year-2021" type="button" role="tab" aria-controls="year-2021" aria-selected="false">2021</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="link nav-link" id="year-2019-tab" data-bs-toggle="tab" data-bs-target="#year-2019" type="button" role="tab" aria-controls="year-2019" aria-selected="false">2019</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="link nav-link" id="year-2018-tab" data-bs-toggle="tab" data-bs-target="#year-2018" type="button" role="tab" aria-controls="year-2018" aria-selected="false">2018</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="link nav-link" id="year-2017-tab" data-bs-toggle="tab" data-bs-target="#year-2017" type="button" role="tab" aria-controls="year-2017" aria-selected="false">2017</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="link nav-link" id="comparison-tab" data-bs-toggle="tab" data-bs-target="#comparison" type="button" role="tab" aria-controls="comparison" aria-selected="false">Porovnanie</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="link nav-link" id="conclusion-tab" data-bs-toggle="tab" data-bs-target="#conclusion" type="button" role="tab" aria-controls="conclusion" aria-selected="false">Záver</button>
  </li>
</ul>

<!-- tab content -->
<div class="tab-content">

  <!-- introduction -->
  <div id="intro" class="tab-pane show fade active in">
    <p>
      Konferencia <b>Žijem vedu naživo</b> vytvára priestor pre spoločnú diskusiu
      na témy spojené s&nbspvýzvami a&nbspproblémami vedy a výskumu na Slovensku.
      <br>
      Komunita slovenských vedcov a&nbspvedkýň pôsobiacich doma i v&nbspzahraničí
      sa na podujatí spolu s&nbsppodporovateľmi a priaznivcami vedy z&nbspradov (nielen) odbornej verejnosti
      stretáva pravidelne od roku&nbsp2017
      <br>
      (ročník 2020 však musel byť presunutý z&nbspdôvodu mimoriadnej epidemiologickej situácie
      a v&nbspneformálnej atmosfére sme sa videli aspoň virtuálne).
    </p>

    <p>
      Doterajšie tri ročníky hostili spolu takmer päť stoviek účastníkov a účastníčok
      naprieč rôznymi vednými disciplínami a profesiami.
      <br>
      Z&nbspktorých krajín pricestovali, na akých pracoviskách pôsobia a&nbspčomu sa venujú v rámci svojho výskumu,
      si môžete pozrieť v nasledujúcich prehľadoch.
      <br>
      Tieto boli vytvorené na základe vyhodnotenia anonymizovaných údajov
      z&nbspprihlasovacích formulárov jednotlivých ročníkov.
      <br>
      Pri koncipovaní jednotlivých grafov sme sa zľahka inšpirovali aj úvahami
      o&nbspvýzname interdisciplinárneho dialógu či rodovej rovnosti vo vede a výskume.
    </p>
  </div>

  <!-- ZVN 2022 -->
  <div id="year-2022" class="tab-pane fade">
    <h2 class="family-heading">Ročník 2022</h2>
    <p>
      Na konferenciu, ktorá sa tentokrát po pandemickej pauze konala online, sa prihlásilo 194 osôb (<i>Obr.&nbsp1</i>).
      <br>
      Väčšina z&nbspnich preferovala účasť práve virtuálne.
    </p>

    <!-- Pritomni vseobecne -->
    <div id="participation_2022_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

    <p>
      Podujatie prebehlo pod taktovkou siedmich organizátoriek a dvoch organizátorov (<i>Obr.&nbsp2</i>).
      <br>
      V&nbsp2rámci programu nám svoju vedeckú činnosť z&nbsp2rôznych odborov od ... po ... predstavilo sedem rečníkov
      <br>
      Prezentácia činnosti organizácií na podporu vedy a výskumu; odborné príspevky v diskusných skupinách
    </p>

    <!-- Pritomni rola -->
    <div id="participation_detail_2022_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

    <h3>Účasť podľa krajiny pôsobenia</h3>

    <p>
      Väčšina účastníkov zo Slovenska, tento rok pomerne silné zastúpenie kombinovaného pôsobiska (<i>Obr.&nbsp3</i>).
      <br>
      Okrem Slovenska najvyššia účasť z&nbsp2ČR, Spojeného kráľovstva a krajín západnej Európy (<i>Obr.&nbsp4</i>).
      <br>
      Zo zámoria: USA, AUstrália a Thajsko (<i>Obr.&nbsp5</i>).
    </p>

    <!-- Všeobecný prehľad: zahraničie vs. SR -->
    <div id="abroad_2022_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

    <!-- Kartodiagramy -->
    <figure>
      <img src="themes/custom/zijem_vedu/img/images_numbers/ZVN_participation_2022_sk.png" alt="krajina" style="width: 480px">
      <figcaption>Obr. 4: Pôsobisko účastníkov v rámci Európy</figcaption>
    </figure>
    <figure>
      <img src="themes/custom/zijem_vedu/img/images_numbers/ZVN_participation_world_2022_sk.png" alt="krajina" style="width: 700px">
      <figcaption>Obr. 5: Pôsobisko účastníkov celosvetovo</figcaption>
    </figure>
    <br>
    <br>
    <p>
      Prvý účastník v tretej štvrtine októbra, skokové nárasty 18. novembra,
      medzitým plynulo pribúdali, 13. a 19. decembra, kedy pribudlo najviac (<i>Obr.&nbsp6</i>).
    </p>

    <!-- Cas prihlasenia: geo -->
    <div id="registration_timeSeries_2022_sk" style="height: 100%; width: 100%;" class="plotly-graph-div"></div>

    <h2>Pracovné zaradenie</h2>
    <div id="institution_country_2022_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
    <div id="institution_gender_2022_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

    <p>
      Najviac postdokov a juniorov, potom doktorandi a mimo akadémie. Pomerne veľa seniorov, potešil áujem študentov.
      Najviac zahraničných bolo juniorov a doktorandov (<i>Obr.&nbsp7</i>).
      <br>
      Prevažovali ženy (okrem profesorov a PI), v niektorých kategóriách výrazne (doktorand, iné, študent)
    </p>

    <div id="position_country_2022_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
    <div id="position_gender_2022_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>


    <h2>Vedný odbor</h2>
    <p>
      Výrazná prevaha STEM, čo je charakteristické aj pre predchádzajúce ročníky.
      Prevaha biológie, medicíny a spriatelených odborov; v SSH politické a ekonomické vedy a história.
      Otvorená veda
    </p>

    <!-- Odbory -->
    <div id="subject_2022_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
  </div>

  <!-- ZVN 2021 -->
  <div id="year-2021" class="tab-pane fade">
    <h2 class="family-heading">Ročník 2021</h2>
    <p>
      Na konferenciu, ktorá sa tentokrát po pandemickej pauze konala online, sa prihlásilo 194 osôb (<i>Obr.&nbsp1</i>).
      <br>
      Väčšina z&nbspnich preferovala účasť práve virtuálne.
    </p>

    <!-- Pritomni vseobecne -->
    <div id="participation_2021_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

    <p>
      Podujatie prebehlo pod taktovkou siedmich organizátoriek a dvoch organizátorov (<i>Obr.&nbsp2</i>).
      <br>
      V&nbsp2rámci programu nám svoju vedeckú činnosť z&nbsp2rôznych odborov od ... po ... predstavilo sedem rečníkov
      <br>
      Prezentácia činnosti organizácií na podporu vedy a výskumu; odborné príspevky v diskusných skupinách
    </p>

    <!-- Pritomni rola -->
    <div id="participation_detail_2021_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

    <h3>Účasť podľa krajiny pôsobenia</h3>

    <p>
      Väčšina účastníkov zo Slovenska, tento rok pomerne silné zastúpenie kombinovaného pôsobiska (<i>Obr.&nbsp3</i>).
      <br>
      Okrem Slovenska najvyššia účasť z&nbsp2ČR, Spojeného kráľovstva a krajín západnej Európy (<i>Obr.&nbsp4</i>).
      <br>
      Zo zámoria: USA, Austrália a Thajsko (<i>Obr.&nbsp5</i>).
    </p>

    <!-- Všeobecný prehľad: zahraničie vs. SR -->
    <div id="abroad_2021_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

    <!-- Kartodiagramy -->
    <figure>
      <img src="themes/custom/zijem_vedu/img/images_numbers/ZVN_participation_2021_sk.png" alt="krajina" style="width: 480px">
      <figcaption>Obr. 4: Pôsobisko účastníkov v rámci Európy</figcaption>
    </figure>
    <figure>
      <img src="themes/custom/zijem_vedu/img/images_numbers/ZVN_participation_world_2021_sk.png" alt="krajina" style="width: 700px">
      <figcaption>Obr. 5: Pôsobisko účastníkov celosvetovo</figcaption>
    </figure>
    <br>
    <br>
    <p>
      Prvý účastník v tretej štvrtine októbra, skokové nárasty 18. novembra,
      medzitým plynulo pribúdali, 13. a 19. decembra, kedy pribudlo najviac (<i>Obr.&nbsp6</i>).
    </p>

    <!-- Cas prihlasenia: geo -->
    <div id="registration_timeSeries_2021_sk" style="height: 100%; width: 100%;" class="plotly-graph-div"></div>

    <h2>Pracovné zaradenie</h2>
    <!--div id="institution_country_2019_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div-->
    <!--div id="institution_gender_2019_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div-->

    <p>
      Najviac postdokov a juniorov, potom doktorandi a mimo akadémie. Pomerne veľa seniorov, potešil áujem študentov.
      Najviac zahraničných bolo juniorov a doktorandov (<i>Obr.&nbsp7</i>).
      <br>
      Prevažovali ženy (okrem profesorov a PI), v niektorých kategóriách výrazne (doktorand, iné, študent)
    </p>

    <div id="position_country_2021_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
    <div id="position_gender_2021_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>


    <h2>Vedný odbor</h2>
    <p>
      V		Výrazná prevaha STEM, čo je charakteristické aj pre predchádzajúce ročníky.
      P		Prevaha biológie, medicíny a spriatelených odborov; v SSH politické a ekonomické vedy a história.
      O		Otvorená veda
    </p>

    <!-- Odbory -->
    <div id="subject_2021_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
  </div>

  <!-- ZVN 2019 -->
  <div id="year-2019" class="tab-pane fade">
    <h2 class="family-heading">Ročník 2019</h2>
    <p>
      Pandémia <i>covid-19</i>, ktorá poriadne zamávala rokom 2020,
      ovplyvnila dokonca aj spracovanie dát z&nbspdruhého ročníka konferencie <b>Žijem vedu naživo</b>.
      <br>
      Grafy dočasne ostanú založené iba na vyhodnotení registračného formulára
      a&nbspdoplníme ich, až keď sa dostaneme k&nbspprezenčnej listine.
    </p>

    <p>
      Záujem o účasť na tohtoročnom podujatí prejavilo 145 osôb a šestnásť iniciatív,
      ktoré mali možnosť prezentovať svoju činnosť vo vede a&nbspvýskume.
      <br>
      Všetko zastrešoval tím pätnástich organizátorov spolu s&nbspdeviatimi rečníkmi (<i>Obr.&nbsp2</i>).
    </p>

    <!-- TBA: Pritomni vseobecne -->
    <!--div id="participation_2019_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div-->

    <!-- Pritomni rola -->
    <div id="participation_detail_2019_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

    <h3>Účasť podľa krajiny pôsobenia</h3>

    <p>
      Výrazná väčšina registrácií bola prijatá zo Slovenska;
      asi pätina účastníkov sa prihlásila zo zahraničia,
      <br>
      vrátane niekoľkých pôsobiacich súčasne doma i v&nbspcudzine (<i>Obr.&nbsp3</i>).
      <br>
      V&nbsppočte záujemcov nasledovali po Českej republike nemecky hovoriace krajiny,
      Benelux, Spojené kráľovstvo, Škandinávia a niekoľko prihlásených z južnej Európy (<i>Obr.&nbsp4</i>).
      <br>
      Zámorie bolo zastúpené Spojenými štátmi, Čínou, Juhoafrickou republikou či Guatemalou (<i>Obr.&nbsp5</i>).
    </p>

    <!-- Všeobecný prehľad: zahraničie vs. SR -->
    <div id="abroad_2019_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

    <!-- Kartodiagramy -->
    <figure>
      <img src="themes/custom/zijem_vedu/img/images_numbers/ZVN_participation_2019_sk.png" alt="krajina" style="width: 480px">
      <figcaption>Obr. 4: Pôsobisko účastníkov v rámci Európy</figcaption>
    </figure>
    <figure>
      <img src="themes/custom/zijem_vedu/img/images_numbers/ZVN_participation_world_2019_sk.png" alt="krajina" style="width: 700px">
      <figcaption>Obr. 5: Pôsobisko účastníkov celosvetovo</figcaption>
    </figure>
    <br>
    <br>
    <p>
      Počet registrácií rástol doslova nárazovo v troch vlnách:
      v&nbsppolovici októbra, koncom novembra a v&nbsppolovici decembra.
      <br>
      Účastníci sa však bez výraznejších zhlukov či okien prihlasovali aj priebežne (<i>Obr.&nbsp6</i>).
    </p>

    <!-- Cas prihlasenia: geo -->
    <div id="registration_timeSeries_2019_sk" style="height: 100%; width: 100%;" class="plotly-graph-div"></div>

    <h2>Pracovné zaradenie</h2>
    <!--div id="institution_country_2019_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div-->
    <!--div id="institution_gender_2019_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div-->

    <p>
      Počty (prihlásených) účastníkov z akademickej sféry boli pomerne vyvážené
      v&nbsppozíciách od senior researcherov po doktorandov;
      <br>
      skupinu s&nbspprekvapivo silným zastúpením vytvorili študenti.
      <br>
      Kategórie s&nbspnajvyšším počtom zahraničných registrácií predstavovali juniori zo zahraničia
      a doktorandi s&nbspkombináciou pracoviska doma a&nbspv&nbspcudzine (<i>Obr.&nbsp7</i>).
      <br>
      Podiel účastníkov z&nbspmimoakademického prostredia navýšila prítomnosť zástupcov firiem.
    </p>

    <div id="position_country_2019_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
    <!--div id="position_gender_2019_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div-->


    <h2>Vedný odbor</h2>
    <p>
      V&nbspregistráciách už tradične prevažujú STEM disciplíny, zvlášť prírodné vedy a medicínske odbory.
      <br>
      Spomedzi SSH disciplín sa sformovala výrazná sekcia ekonomických a politických vied;
      <br>
      vďaka prítomnosti zástupcov prezentujúcich iniciatív posilnila taktiež kategória podpory výskumu.
    </p>

    <!-- Odbory -->
    <div id="subject_2019_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
  </div>

  <!-- ZVN 2018 -->
  <div id="year-2018" class="tab-pane fade">
    <h2 class="family-heading">Ročník 2018</h2>
    <p>
      Na prvý ročník konferencie <b>Žijem vedu naživo</b> prišlo 119&nbspľudí
      z&nbsppôvodne nahlásených 158&nbspzáujemcov.
      <br>
      Ďalších odhadom 20&nbsposôb sa zúčastnilo bez registrácie (<i>Obr.&nbsp1</i>).
    </p>

    <!-- Pritomni vseobecne -->
    <div id="participation_2018_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

    <p>
      O&nbspprogram pre návštevníkov, ktorí tvorili dve tretiny prítomných, sa postaralo
      10&nbsporganizátorov,
      <br>
      15&nbspprednášajúcich
      a&nbsp21&nbspzástupcov iniciatív
      spätých s&nbspvedou a&nbspvýskumom na Slovensku (<i>Obr.&nbsp2</i>).
    </p>

    <!-- Pritomni rola -->
    <div id="participation_detail_2018_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

    <h3>Krajina pôsobenia</h3>

    <p>
      Polovica prítomných, ku ktorým však možno pravdepodobne zaradiť
      aj väčšinu spontánnych návštevníkov bez registrácie, pôsobí na Slovensku (Obr.&nbsp3).
      <br>
      Ďalšia takmer štvrtina sa dostavila z Českej republiky, Škandinávie,
      Spojeného kráľovstva či krajín Beneluxu (Obr.&nbsp4);
      <br>
      okrem jedinej výnimky z&nbspUSA sa jednalo o európske štáty (Obr.&nbsp5).
    </p>

    <!-- Všeobecný prehľad: zahraničie vs. SR -->
    <div id="abroad_2018_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

    <!-- Kartodiagramy -->
    <figure>
      <img src="themes/custom/zijem_vedu/img/images_numbers/ZVN_participation_2018_sk.png" alt="krajina" style="width: 480px">
      <figcaption>Obr. 4: Pôsobisko účastníkov v rámci Európy</figcaption>
    </figure>
    <figure>
      <img src="themes/custom/zijem_vedu/img/images_numbers/ZVN_participation_world_2018_sk.png" alt="krajina" style="width: 700px">
      <figcaption>Obr. 5: Pôsobisko účastníkov celosvetovo</figcaption>
    </figure>
    <br>
    <br>
    <p>
      Priebeh prihlasovania (<i>Obr.&nbsp6</i>) vykazuje prudkejšie nárasty registrovaných účastníkov
      <br>
      bezprostredne po spustení registrácií a&nbspzačiatkom októbra;
      počet registrácií jemne nadskočil aj po dušičkových sviatkoch.
      <br>
      Väčšina účastníkov sa prihlásila v poslednom mesiaci pred ukončením registrácií,
      kedy záujemcovia pribúdali plynulejšie.
    </p>

    <!-- Cas prihlasenia: geo -->
    <div id="registration_timeSeries_2018_sk" style="height: 100%; width: 100%;" class="plotly-graph-div"></div>

    <h2>Pracovné zaradenie</h2>
    <p>
      Väčšina účastníkov prišla z univerzít a výskumných pracovísk (ojedinele sa vyskytla ich kombinácia).
      <br>
      Nasledovali zamestnanci z komerčných firiem, pracovníci z oblasti podpory vedy a výskumu či práce s&nbspmládežou.
      <br>
      Nechýbali zástupcovia Ministerstva školstva i&nbspmédií a&nbspzúčastnilo sa aj
      niekoľko študentov stredných škôl (<i>Obr.&nbsp7</i>).
      <br>
      Najvyšší počet účastníkov zo zahraničia vykázala kategória univerzít,
      avšak aj tu prevažovali návštevníci zo Slovenska
      <br>
      (podobne ako v&nbspostatných kategóriách okrem kombinovaných pracovísk a vyrovnaného stavu
      v&nbspkategóriách <i>iné</i> a&nbsp<i>neuvedené</i>).
      <br>
      Podiely žien a mužov pôsobiacich na jednotlivých typoch pracovísk boli (až na niekoľko výnimiek,
      <br>
      predovšetkým oblasti podpory výskumu a&nbsppráce s&nbspmládežou) pomerne vyrovnané (<i>Obr.&nbsp8</i>).
    </p>

    <div id="institution_country_2018_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
    <div id="institution_gender_2018_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
    <br>
    <p>
      Z&nbspakademických pozícií prevládli doktorandi a&nbspvedeckí pracovníci-seniori,
      <br>
      nasledovaní pomerne vyrovnanými počtami účastníkov z&nbspradov postdoktorandov,
      študentov a&nbspúčastníkov z&nbspnezaradených kategórií.
      <br>
      Silnou kategóriou bolo mimoakademické prostredie vďaka zástupcom iniciatív,
      prezentujúcich svoju činnosť v&nbspoblasti podpory vedy a&nbspvýskumu (<i>Obr.&nbsp9</i>).
      <br>
      Najviac účastníkov zo zahraničia sa objavilo medzi doktorandmi a postdokmi
      (s&nbspvyrovnanými podielmi zahraničných a&nbspdomácich účastníkov),
      pomerne silné zastúpenie zahraničných však mali aj študenti.
      <br>
      Vo všetkých kategóriách inak prevažovali účastníci zo Slovenska.
    </p>
    <p>
      <i>Obr.&nbsp10</i> ukazuje výraznú prevahu doktorandiek, študentiek a&nbspna žien pozíciách mimo akadémie.
      <br>
      Od "juniora" vyššie (vrátane PI) prevládajú muži, rovnako ako v&nbspnezaradených pozíciách.
    </p>

    <div id="position_country_2018_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
    <div id="position_gender_2018_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

    <h3>Vedný odbor</h3>
    <p>
      Podobne ako vlani, aj tento rok prevažovali prírodovedné a technické odbory,
      <br>
      avšak prišlo viac ľudí zo spoločenských a humanitných disciplín
      aj z&nbspoblasti podpory vedy.
    </p>

    <!-- Odbory -->
    <div id="subject_2018_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
  </div>

  <div id="year-2017" class="tab-pane fade">
    <h2 class="family-heading">Ročník 2017</h2>
    <p>
      Nultý ročník konferencie, ktorý oslovil takmer dvesto registrovaných
      a&nbspdva tucty neregistrovaných záujemcov (<i>Obr.&nbsp1</i>),
      <br>
      navštívilo približne stopäťdesiat slovenských vedkýň a vedcov doslova z rôznych kútov sveta.
      <br>
      K&nbsp<a href="https://zijemvedu.sk/zijem-vedu-nazivo-v-cislach/">pôvodnému prehľadu</a>
      pripájame interaktívne grafy s&nbsprozšíreným obsahom.
    </p>

    <!-- Pritomni vseobecne -->
    <div id="participation_2017_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

    <p>
      Program v&nbspréžii jedenástich organizátorov a siedmich organizátoriek (<i>Obr.&nbsp2</i>)
      pozostával z&nbspprednášok
      <br>
      zameraných na sumarizáciu hlavných problémov slovenskej vedy
      a&nbsppanelovej diskusie o&nbspmožných riešeniach.
      <br>
      Vystúpili taktiež niekoľkí rečníci,
      ktorí predstavili svoj výskum s&nbspmedzinárodným či interdisciplinárnym presahom.
    </p>

    <!-- Pritomni rola -->
    <div id="participation_detail_2017_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

    <h3>Krajina pôsobenia</h3>
    <p>
      Zo slovenských inštitúcií zavítala bezmála polovica prítomných
      <br>
      (k&nbspnim však pravdepodobne možno započítať aj návštevníkov bez registrácie,
      čiže spolu to mohli byť až dve tretiny; <i>Obr.&nbsp3</i>).
      <br>
      Ostatní prišli prevažne z&nbspkrajín západnej a&nbspsevernej Európy (<i>Obr.&nbsp4</i>),
      ale aj z&nbspKanady či z&nbspHong Kongu (<i>Obr.&nbsp5</i>).
    </p>

    <!-- Všeobecný prehľad: zahraničie vs. SR -->
    <div id="abroad_2017_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

    <!-- Kartodiagramy -->
    <figure>
      <img src="themes/custom/zijem_vedu/img/images_numbers/ZVN_participation_2017_sk.png" alt="krajina" style="width: 480px">
      <figcaption>Obr. 4: Pôsobisko účastníkov v rámci Európy</figcaption>
    </figure>
    <figure>
      <img src="themes/custom/zijem_vedu/img/images_numbers/ZVN_participation_world_2017_sk.png" alt="krajina" style="width: 700px">
      <figcaption>Obr. 5: Pôsobisko účastníkov celosvetovo</figcaption>
    </figure>
    <br>

    <p>
      Počet prihlásených skokovo narástol hneď po 24.&nbspoktóbri, kedy bola konferencia ohlásená na Facebooku,
      <br>
      a v&nbspposlednom týždni registrácií (<i>Obr.&nbsp6</i>).
      <br>
      Mierne zvýšenú aktivitu však badať aj po dušičkových sviatkoch a&nbspmesiac pred termínom konferencie;
      <br>
      väčšina účastníkov zo zahraničia sa prihlásila v&nbspprvom a&nbspposlednom týždni registrácií.
    </p>

    <!-- Cas prihlasenia: geo -->
    <div id="registration_timeSeries_2017_sk" style="height: 100%; width: 100%;" class="plotly-graph-div"></div>

    <h3>Pracovné zaradenie</h3>
    <p>
      Väčšina účastníkov prišla z&nbspuniverzít a&nbspvýskumných pracovísk
      (prípadne z&nbspvýskumných centier v&nbsprámci univerzít).
      <br>
      Nasledovali odborníci z oblasti podpory vedy a výskumu a zamestnanci komerčných firiem
      (ojedinele i&nbspzahraničných) v&nbsppribližne vyrovnanom pomere (<i>Obr.&nbsp7</i>).
      <br>
      V&nbspkategórii "iné" sa objavili nezávislí výskumníci, podnikatelia či študenti stredných škôl.
      <br>
      Medzi účastníkmi z&nbspuniverzít viedli zahraniční hostia
      (tí z&nbspkombinovaných pracovísk viedli výrazne);
      naopak návštevníci zo Slovenska mali silnú prevahu v&nbspkategórii výskumných pracovísk.
      <br>
      Podiel dám a&nbsppánov z&nbspjednotlivých typov pracovísk bol pomerne vyrovnaný
      s&nbspmiernou prevahou mužov (<i>Obr.&nbsp8</i>).
    </p>

    <div id="institution_country_2017_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
    <div id="institution_gender_2017_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
    <br>
    <p>
      Na konferencii prevládali mladí vedeckí pracovníci na postdoktorandských a doktorandských pozíciách,
      s&nbspmiernou prevahou návštevníkov zo zahraničia.
      <br>
      Naopak, na vyšších akademických postoch i medzi študentmi bola
      vyššia účasť zo slovenských inštitúcií (<i>Obr.&nbsp9</i>).
      <br>
      Zaujímavé je, že podobná tendencia sa objavuje aj
      v&nbsppodieloch zastúpenia žien a mužov v&nbspjednotlivých kategóriách;
      <br>
      prevažujú dámy so zaradením postdok/junior researcher a študentky,
      od "seniora" vyššie však výrazne dominujú páni (<i>Obr.&nbsp10</i>).
    </p>

    <div id="position_country_2017_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
    <div id="position_gender_2017_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

    <h3>Vedný odbor</h3>
    <p>
      V&nbsppestrej vzorke rôznych vedných disciplín výrazne prevažovali prírodovedné a&nbsptechnické odbory,
      <br>
      v&nbspkategórii spoločenských a&nbsphumanitných odborov prevládali vedy orientované do minulosti ľudstva.
    </p>

    <!-- Odbory -->
    <div id="subject_2017_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
  </div>

  <div id="comparison" class="tab-pane fade">
    <h2 class="family-heading">Porovnanie ročníkov</h2>
    <p>
      Porovnanie aktuálne zahŕňa štyri ročníky (tri riadne a jeden nultý), ďalšie plánujeme pridávať postupom času (<i>Obr.&nbsp1</i>).
      <br>
      V&nbsprozmedzí rokov 2017 až 2019 sa konferencia konala prezenčne. Na oboch ročníkoch, pre ktoré máme kompletné dáta,
      <br>
      sa zúčastnil približne rovnaký počet ľudí, s&nbspvyššou účasťou aj väčším podielom neprítomných v&nbsproku 2017;
      <br>
      rok 2019 doplníme dodatočne. Rok 2020 sme kvôli pandémii <i>covid19</i> museli vynechať
      <br>
      a ročník 2021 sa z rovnakého dôvodu miesto pôvodne plánovanej hybridnej formy úplne presunul do online priestoru.
      <br>
      Tešil sa však bezmála 200 registrovaným účastníkom, z&nbspktorých väčšina by v&nbspprípade možnosti voľby preferovala
      <br>
      podujatie vo virtuálnej podobe.
    </p>

    <!-- Pritomni vseobecne -->
    <div id="participation_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

    <p>
      Od roku 2018 sa súčasťou konferencie stali zástupcovia iniciatív
      <br>
      zameraných na podporu vedy a výskumu, popularizáciu vedy či prácu s mládežou,
      prezentujúci svoju činnosť formou <b>tba</b>.
      <br>
      Podiely žien a mužov medzi účastníkmi a medziročníkovo i v&nbsporganizačnom tíme boli vcelku vyrovnané,
      <br>
      avšak medzi prednášajúcimi (v&nbspprvých dvoch ročníkoch) výrazne dominovali páni (<i>Obr.&nbsp2</i>).
    </p>

    <!-- Pritomni rola -->
    <div id="participation_detail_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

    <h2>Účasť podľa krajiny pôsobenia</h2>

    <p>
      Podiel návštevníkov pôsobiacich na Slovensku predstavoval stabilne asi polovicu prítomných
      (dáta z&nbsproku 2019 zatiaľ uvažujú všetkých registrovaných).
      <br>
      Pokles účastníkov zo zahraničia mohol nastať aj v&nbspdôsledku chýbajúcich údajov
      v&nbspdátach z&nbsproku&nbsp2018 (<i>Obr.&nbsp3</i>).
      <br>
      Medzi zahraničnými destináciami výrazne vedie Česká republika
      a nemecky hovoriace krajiny spolu s&nbspVeľkou Britániou a Škandináviou (<i>Obr.&nbsp4</i>),
      <br>
      objavili sa však aj návštevníci zo zámoria (<i>Obr.&nbsp5</i>),
      z&nbspjužnej Európy či z&nbspkrajín východného bloku.
    </p>

    <!-- Všeobecný prehľad: zahraničie vs. SR -->
    <div id="abroad_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

    <!-- Kartodiagramy -->
    <form>
      <select name="map" id="map">
        <option onclick="changeImage(2022);">2022</option>
        <option onclick="changeImage(2021);">2021</option>
        <option onclick="changeImage(2019);">2019</option>
        <option onclick="changeImage(2018);">2018</option>
        <option onclick="changeImage(2017);">2017</option>
      </select>
    </form>
    <figure>
      <img id="map4" src="themes/custom/zijem_vedu/img/images_numbers/ZVN_participation_2022_sk.png" alt="krajina" style="width: 480px">
      <figcaption>Obr. 4: Pôsobisko účastníkov v rámci Európy</figcaption>
    </figure>
    <figure>
      <img id="map5" src="themes/custom/zijem_vedu/img/images_numbers/ZVN_participation_world_2022_sk.png" alt="krajina" style="width: 700px">
      <figcaption>Obr. 5: Pôsobisko účastníkov celosvetovo</figcaption>
    </figure>
    <br>
    <p>
      Všetky tri doterajšie ročníky vykazujú v&nbsppriebehu prihlasovania veľmi podobné znaky:
      <br>
      najviac účastníkov sa registrovalo približne mesiac pred termínom konferencie
      (avšak najrýchlejším tempom pribudli počas tohto obdobia v&nbsproku&nbsp2017),
      <br>
      podľa očakávania dochádzalo k&nbspvýraznému nárastu počtu prihlásených hneď po spustení registrácií
      <br>
      a&nbsprok čo rok milo prekvapuje aj mierne zvýšená aktivita po dušičkových sviatkoch.
      <br>
      Naopak, rok&nbsp2019 v&nbspporovnaní s&nbsppredchádzajúcimi ročníkmi
      zaujal tromi výraznými skokovými nárastmi.
    </p>

    <!-- Cas prihlasenia: geo -->
    <div id="registration_timeSeries_sk" style="height: 100%; width: 100%;" class="plotly-graph-div"></div>

    <h2>Pracovné zaradenie</h2>
    <p>
      Na prvých dvoch ročníkoch prevažovali účastníci pôsobiaci na univerzitách
      (prispel k&nbsptomu aj vysoký počet študentov) a&nbspna výskumných pracoviskách.
      <br>
      Od roku&nbsp2018 vďaka prítomnosti zástupcov prezentujúcich iniciatív
      vzrástla účasť z&nbsppodpory výskumu (<i>Obr.&nbsp7</i>),
      príp. z&nbspkomerčných firiem.
      <br>
      V&nbsproku 2017 medzi prítomnými prevažovali muži
      (okrem pracovísk z&nbspoblasti podpory výskumu a&nbsp v&nbspkategórii "iné");
      <br>
      rok&nbsp2018 mal opačnú tendenciu (s&nbspvýnimkou univerzít a oblasti práce s&nbspmládežou),
      keďže necelých 15%&nbspregistrácií bolo vyplnených nekompletne (<i>Obr.&nbsp8</i>).
    </p>

    <div id="institution_country_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
    <div id="institution_gender_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

    <p>
      <br>
      Väčšinu návštevníkov konferencie stabilne tvoria vedeckí pracovníci (seniori i&nbspjuniori),
      postdoktorandi a doktorandi (<i>Obr.&nbsp9</i>).
      <br>
      Zúčastňuje sa aj pomerne veľa študentov (vrátane niekoľkých stredoškolákov)
      <br>
      a&nbspvďaka účasti iniciatív od roku&nbsp2018 výrazne pribudli ľudia mimo akademickej sféry
      (prevažne z oblasti podpory vedy).
      <br>
      <i>Obr.&nbsp10</i> ukazuje spoločnú črtu kompletne spracovaných ročníkov 2017&nbspa&nbsp2018,
      a&nbspto pokles počtu prítomných žien na vyšších akademických pozíciách.
    </p>

    <div id="position_country_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
    <div id="position_gender_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>


    <h2>Odbory</h2>
    <p>
      Na všetkých troch ročníkoch prevažovali prírodovedné a technické odbory,
      a&nbspto aj medzi registrovanými záujemcami, ktorí sa nakoniec nezúčastnili,
      <br>
      avšak&nbspdo grafu sme ich zaradili kvôli doplneniu spektra odborov všetkých záujemcov,
      ktorých konferencia oslovila.
      <br>
      Od roku&nbsp2018 pribudli účastníci z&nbspiných odborov;
      SSH zatiaľ len mierne,
      podpora výskumu a&nbsppráca s&nbspmládežou však výrazne vďaka účasti zástupcov prezentujúcich iniciatív.
      <br>
      aj v&nbsproku 2019 pribudli SSH účastníci a&nbspmení sa štruktúra kategórie "iné",
      hoci stabilne prevažuje podpora výskumu (<i>Obr.&nbsp11</i>).
    </p>

    <!-- Odbory -->
    <div id="subject_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
  </div>

  <div id="conclusion" class="tab-pane fade">
    <br>
    <p>TBA: Slovo na záver</p>
    <br>
    <h3 class="family-heading">Zoznam použitého (slobodného) softvéru</h3>
    <table style="width: 50%; border-collapse: separate; border-spacing: 0 30px;">
      <tr>
        <!-- Python -->
        <td style="text-align:center">
          <a href="https://www.python.org/" target="_blank">
            <img src="themes/custom/zijem_vedu/img/images_numbers/logos/python-logo-master-v3-TM.png" alt="python" style="width:50%;">
          </a>
        </td>
        <!-- Plotly -->
        <td style="text-align:center">
          <a href="https://plotly.com/" target="_blank">
            <img src="themes/custom/zijem_vedu/img/images_numbers/logos/plot_ly-official.svg" alt="plotly" style="width:30%;">
          </a>
        </td>
        <!-- QGIS -->
        <td style="text-align:center">
          <a href="https://qgis.org/en/site/" target="_blank">
            <img src="themes/custom/zijem_vedu/img/images_numbers/logos/qgis_main_logo.png" alt="QGIS" style="width:30%;">
          </a>
        </td>
      </tr>
      <tr>
        <!-- LibreOffice -->
        <td style="text-align:center">
          <a href="https://www.libreoffice.org/" target="_blank">
            <img src="themes/custom/zijem_vedu/img/images_numbers/logos/LibreOffice_external_logo_600px.png" alt="libreOffice" style="width:50%;">
          </a>
        </td>
        <!-- JavaScript -->
        <td style="text-align:center">
          <a href="https://www.w3schools.com/js/" target="_blank">
            <img src="themes/custom/zijem_vedu/img/images_numbers/logos/512px-JavaScript-logo.png" alt="javascript" style="width:30%;">
          </a>
        </td>
        <!-- Ubuntu -->
        <td style="text-align:center">
          <a href="https://ubuntu.com/" target="_blank">
            <img src="themes/custom/zijem_vedu/img/images_numbers/logos/ubuntu-logo14.png" alt="ubuntu" style="width:30%;">
          </a>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          Dáta z&nbspregistračných formulárov boli vyčistené v prostredí <i>LibreOffice</i>.
          <br>
          Kontingenčné tabuľky v&nbsptextovom formáte boli spolu s&nbspformátovaním grafov
          prevedené na premenné v&nbspjazyku <i>JavaScript</i> pomocou skriptu,
          <br>
          ktorý bol napísaný v&nbspjazyku <i>Python</i> za účelom automatizovaného prevodu dát
          aj v&nbspnasledujúcich ročníkoch konferencie <i>Žijem vedu naživo</i>.
          <br>
          Vykreslenie grafov prebieha pomocou webového nástroja <i>Plotly</i>
          <br>
          a&nbspkrátkeho skriptu v&nbspjazyku <i>JavaScript</i> na usmernenie predpripravených dát.
        </td>
      </tr>
    </table>
    <br>
    <h3 class="family-heading">Na blogu spolupracovali</h3>
    <p>Eva Stopková (spracovanie, vizualizácia a interpretácia anonymizovaných dát z&nbspregistračných formulárov)</p>
    <p>TBA</p>
  </div>
</div>
</div>
