
<div class="col-12 col-xl-10 offset-xl-1">


<!--
<ul class="nav nav-tabs links" id="years" role="tablist">
  <li class="active nav-item"><a class="link article-category-menu-item" data-toggle="tab" href="#intro">Úvod</a></li>
  <li class="nav-item"><a class="link article-category-menu-item" data-toggle="tab" href="#2021">2021</a></li>
  <li class="nav-item"><a class="link article-category-menu-item" data-toggle="tab" href="#2019">2019</a></li>
  <li class="nav-item"><a class="link article-category-menu-item" data-toggle="tab" href="#2018">2018</a></li>
  <li class="nav-item"><a class="link article-category-menu-item" data-toggle="tab" href="#2017">2017</a></li>
  <li class="nav-item"><a class="link article-category-menu-item" data-toggle="tab" href="#comparison">Porovnanie</a></li>
  <li class="nav-item"><a class="link article-category-menu-item" data-toggle="tab" href="#conclusion">Záver</a></li>
</ul>
-->
<ul class="nav nav-tabs links" id="years" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="link nav-link active" id="intro-tab" data-bs-toggle="tab" data-bs-target="#intro" type="button" role="tab" aria-controls="intro" aria-selected="true">Úvod</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="link nav-link" id="year-2022-tab" data-bs-toggle="tab" data-bs-target="#year-2022" type="button" role="tab" aria-controls="year-2022" aria-selected="false">2022</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="link nav-link" id="year-2021-tab" data-bs-toggle="tab" data-bs-target="#year-2021" type="button" role="tab" aria-controls="year-2021" aria-selected="false">2021</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="link nav-link" id="year-2019-tab" data-bs-toggle="tab" data-bs-target="#year-2019" type="button" role="tab" aria-controls="year-2019" aria-selected="false">2019</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="link nav-link" id="year-2018-tab" data-bs-toggle="tab" data-bs-target="#year-2018" type="button" role="tab" aria-controls="year-2018" aria-selected="false">2018</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="link nav-link" id="year-2017-tab" data-bs-toggle="tab" data-bs-target="#year-2017" type="button" role="tab" aria-controls="year-2017" aria-selected="false">2017</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="link nav-link" id="comparison-tab" data-bs-toggle="tab" data-bs-target="#comparison" type="button" role="tab" aria-controls="comparison" aria-selected="false">Porovnanie</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="link nav-link" id="conclusion-tab" data-bs-toggle="tab" data-bs-target="#conclusion" type="button" role="tab" aria-controls="conclusion" aria-selected="false">Záver</button>
  </li>
</ul>

<!-- tab content -->
  <div class="tab-content">

    <!-- introduction -->
    <div id="intro" class="tab-pane show fade active in">
      <p>
        Konferencia <b>Žijem vedu naživo</b> vytvára priestor pre otvorenú diskusiu o&nbspvýzvach, príležitostiach i&nbspproblémoch, ktorými žijú veda a&nbspvýskum na Slovensku, ale aj slovenská veda v&nbspzahraničí. Na podujatí sa stretáva komunita slovenských vedcov a&nbspvedkýň pôsobiacich doma i&nbsppo celom svete spolu s&nbsppodporovateľmi a&nbsppriaznivcami vedy z&nbspradov (nielen) odbornej verejnosti. Stretnutia sa konajú pravidelne v&nbsppredvianočnom čase už od roku 2017&nbsp-&nbsps&nbspvýnimkou ročníka&nbsp2020, ktorý musel byť presunutý z&nbspdôvodu mimoriadnej epidemiologickej situácie (v&nbspneformálnej atmosfére sme sa však videli aspoň virtuálne na <a href="https://zijemvedu.sk/sietovacka">Vianočnej vedeckej sieťovačke</a>).
      </p>

      <p>
        V&nbsproku&nbsp2022 prebehol už štvrtý oficiálny ročník <b>Žijem vedu naživo</b>, nad ktorým prevzala záštitu prezidentka Slovenskej republiky, pani Zuzana Čaputová. Konferencia doposiaľ privítala presne 864&nbspregistrovaných účastníkov a&nbspúčastníčok naprieč rôznymi vednými disciplínami a&nbspprofesiami (spolu s&nbspniekoľkými desiatkami neregistrovaných záujemcov však počet hostí určite presiahol deväť stoviek). Z&nbspktorých krajín pricestovali, na akých pracoviskách pôsobia a&nbspčomu sa venujú v&nbsprámci svojho výskumu, si môžete pozrieť v&nbspnasledujúcich prehľadoch. Vytvorili sme ich na základe vyhodnotenia anonymizovaných údajov z&nbspprihlasovacích formulárov jednotlivých ročníkov. Inšpiráciou a motiváciou nám boli úvahy, ktoré silno rezonujú aj v témach samotnej konferencie&nbsp-&nbspvýznam interdisciplinárneho dialógu a rodovej rovnosti (nielen) vo vede a výskume.
      </p>
    </div>

    <!-- ZVN 2022 -->
    <div id="year-2022" class="tab-pane fade">
      <h2>Ročník 2022</h2>
      <p>
        Zatiaľ posledný ročník mohol vďaka uvoľneniu epidemických opatrení prebehnúť hybridnou formou (<i>Obr.&nbsp1</i>). Za možnosť stretnúť sa opäť osobne tentokrát hlasovalo až 61&nbsp%&nbspregistrovaných.
      </p>

      <!-- Pritomni vseobecne -->
      <div id="participation_2022_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

      <p>
        Za organizáciou podujatia, ktoré sa konalo už po piatykrát, stálo osem dám; pre 132&nbspprihlásených účastníkov bolo v programe pripravených deväť prednášok a moderovaná diskusia.
      </p>

      <!-- Pritomni rola -->
      <div id="participation_detail_2022_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

      <h3>Účasť podľa krajiny pôsobenia</h3>
      <p>
        Účastníci zo Slovenska vytvorili mierne nadpolovičnú väčšinu, až takmer tretina ľudí sa registrovala zo zahraničia (<i>Obr.&nbsp3</i>), hlavne z&nbspČeskej republiky. Ďalej prevládli nemecky hovoriace krajiny, Veľká Británia a&nbspBenelux, avšak tento rok mala svojho registrovaného zástupcu takmer každá krajina západnej Európy (<i>Obr.&nbsp4</i>). Pomerne rozmanitými sa ukázali byť aj registrácie zo zámorských krajín (<i>Obr.&nbsp5</i>).
      </p>

      <!-- Všeobecný prehľad: zahraničie vs. SR -->
      <div id="abroad_2022_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

      <!-- Kartodiagramy -->
      <figure>
        <img src="themes/custom/zijem_vedu/img/images_numbers/ZVN_participation_2022_sk.png" alt="krajina" style="width: 480px">
        <figcaption>Obr. 4: Pôsobisko účastníkov v rámci Európy</figcaption>
      </figure>
      <figure>
        <img src="themes/custom/zijem_vedu/img/images_numbers/ZVN_participation_world_2022_sk.png" alt="krajina" style="width: 700px">
        <figcaption>Obr. 5: Pôsobisko účastníkov celosvetovo</figcaption>
      </figure>
      <br>
      <br>
      <p>
        Prihlášky pribúdali priebežne od polovice októbra až do ukončenia registrácií (týždeň pred týmto termínom bol síce najfrekventovanejší, ale nie dramaticky). K&nbspmenším skokom v&nbsppočte prihlásených došlo v&nbsppolovici novembra a&nbspo&nbsptýždeň neskôr (<i>Obr.&nbsp6</i>).
      </p>

      <!-- Cas prihlasenia: geo -->
      <div id="registration_timeSeries_2022_sk" style="height: 100%; width: 100%;" class="plotly-graph-div"></div>

      <h2>Typ pracoviska</h2>
      <p>
        Najpočetnejšie zastúpenie v&nbspregistráciách mali univerzity, výskumné ústavy a&nbspich kombinácie. Tu zároveň pôsobila väčšina registrovaných zo zahraničia, ktorí sa v&nbspostatných typoch pracovísk objavili len sporadicky (<i>Obr.&nbsp7</i>).
      </p>
      <p>
        V&nbspregistráciách z&nbspväčšiny pracovísk sme zaznamenali prevahu žien&nbsp-&nbspokrem komerčných spoločností a nezaradených inštitúcií, kde prevažovali muži, a&nbspvýskumných pracovísk, kde bol podiel žien a&nbspmužov v&nbsprovnováhe (<i>Obr.&nbsp8</i>).
      </p>
      <div id="institution_country_2022_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
      <div id="institution_gender_2022_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

      <h2>Pracovné zaradenie</h2>
      <p>
        Na prvom mieste podľa počtu registrácií sa umiestnili študenti (presnejšie študentky), nasledovaní postdoktorandmi a&nbspúčastníkmi mimo akademickej sféry. Medzi študentmi bol zároveň dosť vysoký podiel zahraničných registrácií, avšak ich počtom štandardne viedli postdoktorandi a&nbspdoktorandi (<i>Obr.&nbsp9</i>).
      </p>

      <p>
        Podiely žien a&nbspmužov boli tento rok naprieč pracovnými pozíciami veľmi kolísavé; jedinou kategóriou s&nbspvyváženým pomerom boli <i>profesori / docenti</i> (<i>Obr.&nbsp10</i>).
      </p>

      <div id="position_country_2022_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
      <div id="position_gender_2022_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>


      <h2>Vedný odbor</h2>
      <p>
        Prírodné a technické odbory (STEM) ani tento rok nezľavili zo svojej výraznej prevahy s&nbspnajvyšším podielom medicínskych vied a&nbspbiológie. Spoločenské a humanitné vedy (SSH) zaznamenali pokles účastníkov a&nbspdominantným odborom sa stala psychológia. Medzi rôznymi formami podpory výskumu si svoje miesto drží otvorená veda (<i>Obr.&nbsp11</i>).
      </p>

      <!-- Odbory -->
      <div id="subject_2022_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
    </div>

    <!-- ZVN 2021 -->
    <div id="year-2021" class="tab-pane fade">
      <h2>Ročník 2021</h2>
      <p>
        Na konferenciu, ktorá sa po pandemickej pauze konala online, sa prihlásilo 194 osôb (<i>Obr.&nbsp1</i>). Výrazná väčšina z&nbspnich preferovala účasť práve virtuálne.
      </p>

      <!-- Pritomni vseobecne -->
      <div id="participation_2021_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

      <p>
        Podujatie prebehlo pod taktovkou siedmich organizátoriek a dvoch organizátorov (<i>Obr.&nbsp2</i>). V&nbsprámci programu svoju vedeckú činnosť z&nbsprôznych odborov od psychológie po vesmírne technológie predstavilo sedem rečníkov. Počas prestávky prebiehali prezentácie činnosti organizácií na podporu vedy a&nbspvýskumu a kto chcel, mohol sa zapojiť do debaty v&nbsprámci diskusných skupín.
      </p>

      <!-- Pritomni rola -->
      <div id="participation_detail_2021_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

      <h3>Účasť podľa krajiny pôsobenia</h3>

      <p>
        Väčšina účastníčok a&nbspúčastníkov tohto ročníka pôsobila na Slovensku, avšak pomerne silné zastúpenie mali kombinované pracoviská (<i>Obr.&nbsp3</i>). Najvyššia zahraničná účasť bola z&nbspČeskej republiky, Spojeného kráľovstva a krajín západnej Európy (<i>Obr.&nbsp4</i>); zámorské krajiny zastúpili USA, Austrália a Thajsko (<i>Obr.&nbsp5</i>).
      </p>

      <!-- Všeobecný prehľad: zahraničie vs. SR -->
      <div id="abroad_2021_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

      <!-- Kartodiagramy -->
      <figure>
        <img src="themes/custom/zijem_vedu/img/images_numbers/ZVN_participation_2021_sk.png" alt="krajina" style="width: 480px">
        <figcaption>Obr. 4: Pôsobisko účastníkov v rámci Európy</figcaption>
      </figure>
      <figure>
        <img src="themes/custom/zijem_vedu/img/images_numbers/ZVN_participation_world_2021_sk.png" alt="krajina" style="width: 700px">
        <figcaption>Obr. 5: Pôsobisko účastníkov celosvetovo</figcaption>
      </figure>
      <br>
      <br>
      <p>
        Prvá registrovaná lastovička sa objavila v&nbsptretej štvrtine októbra. Registrácie nárazovo pribudli v dňoch 18.&nbspa 19.&nbspnovembra, následne ich počet rástol plynulo a&nbspv&nbspposlednom týždni bol nárast najrýchlejší (<i>Obr.&nbsp6</i>).
      </p>

      <!-- Cas prihlasenia: geo -->
      <div id="registration_timeSeries_2021_sk" style="height: 100%; width: 100%;" class="plotly-graph-div"></div>

      <h2>Pracovné zaradenie</h2>
      <!--div id="institution_country_2019_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div-->
      <!--div id="institution_gender_2019_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div-->

      <p>
        Najpočetnejšie kategórie boli tvorené postdoktorandmi a&nbspdoktorandmi (tieto dve skupiny zároveň vykazovali najvyšší počet registrácií zo zahraničia). Nasledovali účastníci mimo akadémie a&nbspvýskumní pracovníci&nbsp-&nbspseniori, potešil záujem študentov (<i>Obr.&nbsp7</i>).
      </p>
      <p>
        Na väčšine typov pracovného zaradenia prevažovali medzi registrovanými ženy (okrem profesorov a&nbspvedúcich laboratória (PI)), v&nbspniektorých kategóriách dokonca výrazne (doktorandky, iné pozície, študentky).
      </p>

      <div id="position_country_2021_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
      <div id="position_gender_2021_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>


      <h2>Vedný odbor</h2>
      <p>
        Medzi vednými disciplínami výrazne prevažovali prírodné a&nbsptechnické vedy&nbsp(STEM), predovšetkým biológia, medicína a&nbspspriatelené odbory. V&nbsprámci spoločenských a&nbsphumanitných odborov&nbsp(SSH) dominovali politické a&nbspekonomické vedy, psychológia a&nbsphistória s&nbsppríbuznými odbormi. Zaznamenali sme tiež pomerne vysoký počet účastníkov so zameraním na <i>otvorenú vedu</i>.
      </p>

      <!-- Odbory -->
      <div id="subject_2021_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
    </div>

    <!-- ZVN 2019 -->
    <div id="year-2019" class="tab-pane fade">
      <h2>Ročník 2019</h2>
      <p>
        Pandémia <i>covid-19</i>, ktorá v&nbsproku 2020 obrátila hore nohami celý svet, ovplyvnila dokonca aj spracovanie dát z&nbspdruhého ročníka konferencie <b>Žijem vedu naživo</b>. Keďže vtedy nebola možnosť fyzicky sa dostať k prezenčnej listine, grafy symbolicky ostanú založené iba na vyhodnotení registračného formulára.
      </p>

      <p>
        Záujem o účasť na podujatí prejavilo 145&nbsposôb. Program s&nbspdeviatimi prednáškami a&nbsps&nbsppríspevkami šestnástich iniciatív, ktoré prezentovali svoju činnosť vo vede a&nbspvýskume, zastrešoval tím pätnástich organizátorov a&nbsporganizátoriek (<i>Obr.&nbsp2</i>).
      </p>

      <!-- TBA: Pritomni vseobecne -->
      <!--div id="participation_2019_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div-->

      <!-- Pritomni rola -->
      <div id="participation_detail_2019_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

      <h3>Účasť podľa krajiny pôsobenia</h3>
      <p>
        Výrazná väčšina registrácií bola prijatá zo Slovenska; asi pätina účastníkov sa prihlásila zo zahraničia, vrátane niekoľkých pôsobiacich súčasne doma i v&nbspcudzine (<i>Obr.&nbsp3</i>). V&nbsppočte záujemcov nasledovali po Českej republike nemecky hovoriace krajiny, Benelux, Spojené kráľovstvo, Škandinávia a niekoľko prihlásených z južnej Európy (<i>Obr.&nbsp4</i>). Zámorie bolo zastúpené Spojenými štátmi, Čínou, Juhoafrickou republikou či Guatemalou (<i>Obr.&nbsp5</i>).
      </p>

      <!-- Všeobecný prehľad: zahraničie vs. SR -->
      <div id="abroad_2019_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

      <!-- Kartodiagramy -->
      <figure>
        <img src="themes/custom/zijem_vedu/img/images_numbers/ZVN_participation_2019_sk.png" alt="krajina" style="width: 480px">
        <figcaption>Obr. 4: Pôsobisko účastníkov v rámci Európy</figcaption>
      </figure>
      <figure>
        <img src="themes/custom/zijem_vedu/img/images_numbers/ZVN_participation_world_2019_sk.png" alt="krajina" style="width: 700px">
        <figcaption>Obr. 5: Pôsobisko účastníkov celosvetovo</figcaption>
      </figure>
      <br>
      <br>
      <p>
        Počet registrácií rástol doslova nárazovo v troch vlnách: v&nbsppolovici októbra, koncom novembra a&nbspv&nbsppolovici decembra. Účastníci sa však bez výraznejších zhlukov prihlasovali aj priebežne (<i>Obr.&nbsp6</i>).
      </p>

      <!-- Cas prihlasenia: geo -->
      <div id="registration_timeSeries_2019_sk" style="height: 100%; width: 100%;" class="plotly-graph-div"></div>

      <h2>Pracovné zaradenie</h2>
      <!--div id="institution_country_2019_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div-->
      <!--div id="institution_gender_2019_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div-->

      <p>
        Počty prihlásených účastníkov z akademickej sféry boli pomerne vyvážené v&nbsppozíciách od výskumných pracovníkov&nbsp-&nbspseniorov po doktorandov; skupinu s&nbspprekvapivo silným zastúpením vytvorili študenti. Kategórie s&nbspnajvyšším počtom zahraničných registrácií predstavovali doktorandi a postdoktorandi, resp. junior researchers, vrátane kombinácie pracoviska doma a&nbspv&nbspcudzine (<i>Obr.&nbsp7</i>). Podiel účastníkov z&nbspmimoakademického prostredia navýšila prítomnosť zástupcov prezentujúcich iniciatív.
      </p>

      <div id="position_country_2019_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
      <!--div id="position_gender_2019_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div-->


      <h2>Vedný odbor</h2>
      <p>
        V&nbspregistráciách už tradične prevažovali STEM disciplíny, zvlášť prírodné vedy a medicínske odbory. Spomedzi spoločenských a&nbsphumanitných odborov&nbsp(SSH) sa sformovala výrazná sekcia ekonomických a politických vied, nasledovaná antropológiou, archeológiou a&nbspspríbuznenými odbormi. Vďaka prítomnosti zástupcov prezentujúcich iniciatív opäť posilnila kategória podpory výskumu.
      </p>

      <!-- Odbory -->
      <div id="subject_2019_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
    </div>

    <!-- ZVN 2018 -->
    <div id="year-2018" class="tab-pane fade">
      <h2>Ročník 2018</h2>
      <p>
        Na oficiálne prvý ročník konferencie <b>Žijem vedu naživo</b> prišlo 119&nbspľudí z&nbsppôvodne nahlásených 157&nbspzáujemcov. Ďalších odhadom 20&nbsposôb sa zúčastnilo bez registrácie (<i>Obr.&nbsp1</i>).
      </p>

      <!-- Pritomni vseobecne -->
      <div id="participation_2018_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

      <p>
        Program pre približne sto návštevníkov pod taktovkou 10&nbspčleniek a členov organizačného tímu vytvorili spolu 15&nbspprednášajúci a&nbspúčastníci moderovanej diskusie. Tohtoročnou novinkou boli prezentácie 21&nbspzástupcov a&nbspzástupkýň iniciatív, ktoré sa angažujú v&nbsppodpore a&nbsppopularizácii vedy a&nbspvýskumu na Slovensku (<i>Obr.&nbsp2</i>).
      </p>

      <!-- Pritomni rola -->
      <div id="participation_detail_2018_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

      <h3>Krajina pôsobenia</h3>

      <p>
        Polovica prítomných, ku ktorým však možno zaradiť pravdepodobne aj väčšinu spontánnych návštevníkov bez registrácie, pôsobí na Slovensku (<i>Obr.&nbsp3</i>). Ďalšia takmer štvrtina sa dostavila z Českej republiky, Škandinávie, Spojeného kráľovstva či krajín Beneluxu (<i>Obr.&nbsp4</i>). Okrem jedinej výnimky z&nbspUSA sa jednalo o návštevy z&nbspeurópskych štátov (<i>Obr.&nbsp5</i>).
      </p>

      <!-- Všeobecný prehľad: zahraničie vs. SR -->
      <div id="abroad_2018_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

      <!-- Kartodiagramy -->
      <figure>
        <img src="themes/custom/zijem_vedu/img/images_numbers/ZVN_participation_2018_sk.png" alt="krajina" style="width: 480px">
        <figcaption>Obr. 4: Pôsobisko účastníkov v rámci Európy</figcaption>
      </figure>
      <figure>
        <img src="themes/custom/zijem_vedu/img/images_numbers/ZVN_participation_world_2018_sk.png" alt="krajina" style="width: 700px">
        <figcaption>Obr. 5: Pôsobisko účastníkov celosvetovo</figcaption>
      </figure>
      <br>
      <br>
      <p>
        Priebeh prihlasovania (<i>Obr.&nbsp6</i>) vykazuje prudkejšie nárasty registrovaných účastníkov bezprostredne po spustení registrácií a&nbspzačiatkom októbra; počet registrácií jemne nadskočil aj po dušičkových sviatkoch. Väčšina účastníkov sa prihlásila v&nbspposlednom mesiaci pred ukončením registrácií, kedy už záujemcovia pribúdali plynulejšie v&nbspporovnaní s&nbsppredchádzajúcim obdobím.
      </p>

      <!-- Cas prihlasenia: geo -->
      <div id="registration_timeSeries_2018_sk" style="height: 100%; width: 100%;" class="plotly-graph-div"></div>

      <h2>Pracovné zaradenie</h2>
      <p>
        Väčšina účastníkov a&nbspúčastníčok prišla z&nbspuniverzít a&nbspvýskumných pracovísk, ojedinele sa vyskytla ich kombinácia. Nasledovali zamestnankyne a&nbspzamestnanci z&nbspkomerčných firiem, pracovníci z&nbspoblasti podpory vedy a výskumu či práce s&nbspmládežou. Nechýbali zástupcovia štátnej správy i&nbspmédií a&nbspzúčastnilo sa aj niekoľko študentov stredných škôl (<i>Obr.&nbsp7</i>).
      </p>
      <p>
        Najvyšší počet účastníkov zo zahraničia vykázala kategória univerzít, avšak aj tu prevažovali návštevníci zo Slovenska, podobne ako v&nbspostatných kategóriách okrem kombinovaných pracovísk a vyrovnaného stavu v&nbspkategóriách <i>iné</i> a&nbsp<i>neuvedené</i>. Prevahu účastníčok sme zaznamenali v&nbspkategórii výskumných pracovísk, komerčných spoločností, ale hlavne v&nbspoblasti podpory vedy a&nbspvýskumu; podiel mužov bol naopak mierne vyšší v&nbspkategórii univerzít a&nbspvýrazne vyšší medzi návštevníkmi, ktorí typ svojho pracoviska neuviedli. Podiely žien a mužov pôsobiacich na ostatných typoch pracovísk boli pomerne vyrovnané (<i>Obr.&nbsp8</i>).
      </p>

      <div id="institution_country_2018_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
      <div id="institution_gender_2018_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
      <br>
      <p>
        Najsilnejšou kategóriou sa stalo mimoakademické prostredie vďaka zástupcom iniciatív, prezentujúcich svoju činnosť v&nbspoblasti podpory vedy a&nbspvýskumu (<i>Obr.&nbsp9</i>). Z&nbspakademických pozícií prevládli doktorandi a&nbspvedeckí pracovníci-seniori, nasledovaní pomerne vyrovnanými počtami postdoktorandov a&nbspštudentov.
      </p>
      <p>
        Vo všetkých kategóriách prevažovali účastníci a&nbspúčastníčky zo Slovenska. Najviac ľudí zo zahraničia sa objavilo medzi doktorandmi a&nbsppostdoktorandmi (s&nbspvyrovnanými podielmi zahraničných a&nbspdomácich účastníkov), pomerne silné zastúpenie zahraničných však mali aj študenti.
      </p>
      <p>
        <i>Obr.&nbsp10</i> ukazuje výraznú prevahu doktorandiek, študentiek a&nbspžien na pozíciách mimo akadémie. Od začínajúcich vedeckých pracovníkov (<i>junior researcher</i>) vyššie (vrátane vedúcich laboratórií&nbsp(PI)) prevládajú muži, rovnako ako v&nbspnezaradených pozíciách.
      </p>

      <div id="position_country_2018_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
      <div id="position_gender_2018_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

      <h3>Vedný odbor</h3>
      <p>
        Podobne ako v&nbsppredchádzajúcom ročníku, aj tento rok prevažovali prírodovedné a technické odbory, avšak prišlo viac ľudí zo spoločenských a humanitných disciplín. Vyššiu účasť sme zaznamenali aj v&nbspoblasti podpory vedy.
      </p>

      <!-- Odbory -->
      <div id="subject_2018_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
    </div>

    <div id="year-2017" class="tab-pane fade">
      <h2>Ročník 2017</h2>
      <p>
        Nultý ročník konferencie, ktorý oslovil takmer dvesto registrovaných a&nbspdva tucty neregistrovaných záujemcov (<i>Obr.&nbsp1</i>), navštívilo približne stopäťdesiat slovenských vedkýň a&nbspvedcov doslova z&nbsprôznych kútov sveta. K&nbsp<a href="https://www.zijemvedu.sk/clanok/eva-stopkova-zijem-vedu-nazivo-v-cislach">pôvodnému prehľadu</a> pripájame interaktívne grafy s&nbsprozšíreným obsahom.
      </p>

      <!-- Pritomni vseobecne -->
      <div id="participation_2017_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

      <p>
        Program v&nbspréžii jedenástich organizátorov a&nbspsiedmich organizátoriek (<i>Obr.&nbsp2</i>) pozostával z&nbspprednášok zameraných na sumarizáciu hlavných problémov slovenskej vedy a&nbsppanelovej diskusie o&nbspmožných riešeniach. Vystúpili taktiež niekoľkí rečníci, ktorí predstavili svoj výskum s&nbspmedzinárodným či interdisciplinárnym presahom.
      </p>

      <!-- Pritomni rola -->
      <div id="participation_detail_2017_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

      <h3>Krajina pôsobenia</h3>
      <p>
        Zo slovenských inštitúcií zavítala bezmála polovica prítomných (k&nbspnim však možno započítať pravdepodobne aj návštevníkov bez registrácie, čiže spolu to mohli byť až dve tretiny; <i>Obr.&nbsp3</i>). Ostatní prišli prevažne z&nbspkrajín západnej a&nbspsevernej Európy (<i>Obr.&nbsp4</i>), ale aj z&nbspKanady či z&nbspHong Kongu (<i>Obr.&nbsp5</i>).
      </p>

      <!-- Všeobecný prehľad: zahraničie vs. SR -->
      <div id="abroad_2017_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

      <!-- Kartodiagramy -->
      <figure>
        <img src="themes/custom/zijem_vedu/img/images_numbers/ZVN_participation_2017_sk.png" alt="krajina" style="width: 480px">
        <figcaption>Obr. 4: Pôsobisko účastníkov v rámci Európy</figcaption>
      </figure>
      <figure>
        <img src="themes/custom/zijem_vedu/img/images_numbers/ZVN_participation_world_2017_sk.png" alt="krajina" style="width: 700px">
        <figcaption>Obr. 5: Pôsobisko účastníkov celosvetovo</figcaption>
      </figure>
      <br>

      <p>
        Počet prihlásených skokovo narástol hneď po 24.&nbspoktóbri, kedy bola konferencia ohlásená na Facebooku, a&nbspv&nbspposlednom týždni registrácií (<i>Obr.&nbsp6</i>). Mierne zvýšenú aktivitu však vidno aj po dušičkových sviatkoch a&nbspmesiac pred termínom konferencie. Väčšina účastníkov zo zahraničia sa prihlásila v&nbspprvom a&nbspv&nbspposlednom týždni registrácií.
      </p>

      <!-- Cas prihlasenia: geo -->
      <div id="registration_timeSeries_2017_sk" style="height: 100%; width: 100%;" class="plotly-graph-div"></div>

      <h3>Pracovné zaradenie</h3>
      <p>
        Väčšina účastníkov a&nbspúčastníčok prišla z&nbspuniverzít (s&nbspvyrovnanou účasťou z&nbspdomova i&nbspzo zahraničia) a&nbspz&nbspvýskumných pracovísk (prevažne zo Slovenska), prípadne z&nbspvýskumných centier v&nbsprámci univerzít (so silnou prevahou zahraničných hostí). Nasledovali odborníčky a&nbspodborníci z&nbspoblasti podpory slovenskej vedy a&nbspvýskumu a&nbspojedinele zamestnanci (aj zahraničných) komerčných firiem (<i>Obr.&nbsp7</i>). V&nbspkategórii "iné" sa objavili nezávislí výskumníci, podnikatelia či študenti stredných škôl zo Slovenska.
      </p>
      <p>
        Podiel dám a&nbsppánov z&nbspjednotlivých typov pracovísk bol väčšinou vyrovnaný (<i>Obr.&nbsp8</i>), s&nbspmiernou až výraznejšou prevahou mužov (viď <i>univerzity</i> a <i>výskumné pracoviská</i>), výnimočne žien (viď <i>podpora výskumu</i>).
      </p>

      <div id="institution_country_2017_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
      <div id="institution_gender_2017_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
      <br>
      <p>
        Na konferencii prevládali mladí vedeckí pracovníci na postdoktorandských a doktorandských pozíciách, s&nbspmierne vyššou účasťou zo zahraničia. Naopak, na vyšších akademických postoch a&nbspmedzi študentmi prevažovali návštevníci zo slovenských inštitúcií (<i>Obr.&nbsp9</i>).
      </p>

      <p>
        Podobná tendencia sa objavila aj v&nbsppodieloch zastúpenia žien a mužov v&nbspjednotlivých kategóriách. Vo všeobecnosti prevažujú dámy so zaradením postdoktorand/junior researcher a študentky, od "seniora" vyššie však výrazne dominujú páni (<i>Obr.&nbsp10</i>).
      </p>

      <div id="position_country_2017_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
      <div id="position_gender_2017_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

      <h3>Vedný odbor</h3>
      <p>
        V&nbsppestrej vzorke rôznych vedných disciplín výrazne prevažovali prírodovedné a&nbsptechnické odbory, v&nbspkategórii spoločenských a&nbsphumanitných odborov prevládali vedy orientované do minulosti ľudstva.
      </p>

      <!-- Odbory -->
      <div id="subject_2017_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
    </div>

    <div id="comparison" class="tab-pane fade">
      <h2>Porovnanie ročníkov</h2>
      <p>
        Porovnanie zahŕňa doterajších päť ročníkov (štyri riadne a jeden nultý). V&nbsprozmedzí rokov 2017 až 2019 sa konferencia konala prezenčne (<i>Obr.&nbsp1</i>). Na oboch ročníkoch, pre ktoré máme kompletné dáta (registračný formulár doplnený prezenčnou listinou), sa zúčastnil približne rovnaký počet ľudí, s&nbspvyššou účasťou, ale aj väčším podielom neprítomných v&nbsproku 2017. V&nbsproku 2020 priniesla pandémia <i>covid19</i> nútený výpadok a&nbspročník&nbsp2021 sa z&nbsprovnakého dôvodu miesto pôvodne plánovanej hybridnej formy úplne presunul do online priestoru. Tešil sa však bezmála 200&nbspregistrovaným účastníkom, z&nbspktorých väčšina by v&nbspprípade možnosti voľby preferovala podujatie práve vo virtuálnej podobe. Toto sa zmenilo už v&nbsproku 2022&nbsp-&nbspzlepšenie epidemiologickej situácie umožnilo hybridný priebeh doposiaľ najnovšieho ročníka (v&nbspsúlade s&nbspprianím až 61&nbsp%&nbspregistrovaných v&nbspcelkovom počte ako z&nbsproku&nbsp2018).
      </p>

      <!-- Pritomni vseobecne -->
      <div id="participation_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

      <p>
        Popri zaujímavých prednáškach o&nbspvýskumných aktivitách slovenských vedcov a&nbspvedkýň v&nbspzahraničí od roku 2018 spestrujú program konferencie aj prezentácie iniciatív zameraných na podporu vedy a výskumu, popularizáciu vedy či prácu s&nbspmládežou (<i>Obr.&nbsp2</i>). V&nbsppriebehu rokov možno sledovať stúpajúci podiel žien medzi prednášajúcimi (v&nbspprvých dvoch ročníkoch výrazne dominovali páni), ale aj v&nbsporganizačnom tíme (tu však dynamika smerovala od rodovo vcelku vyváženého po čisto dámsky kolektív). Podiely žien a mužov medzi účastníkmi boli v&nbspkaždom ročníku vcelku vyrovnané.
      </p>

      <!-- Pritomni rola -->
      <div id="participation_detail_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

      <h2>Účasť podľa krajiny pôsobenia</h2>

      <p>
        Podiel návštevníkov pôsobiacich na Slovensku väčšinou predstavoval približne polovicu prítomných (resp.&nbspregistrovaných), s&nbspvýnimkou rokov 2019 a&nbsp2021, kedy účasť zo Slovenska dosahovala takmer dve tretiny (<i>Obr.&nbsp3</i>). Pokles účastníkov zo zahraničia mohol nastať aj v&nbspdôsledku chýbajúcich údajov v&nbspdátach z&nbsproku&nbsp2018.
      </p>
      <p>
        Medzi zahraničnými destináciami výrazne viedla Česká republika a&nbspnemecky hovoriace krajiny spolu s&nbspVeľkou Britániou a&nbspŠkandináviou (<i>Obr.&nbsp4</i>), objavili sa však aj návštevníci z&nbspjužnej Európy, z&nbspkrajín niekdajšieho východného bloku či zo zámoria (<i>Obr.&nbsp5</i>).
      </p>

      <!-- Všeobecný prehľad: zahraničie vs. SR -->
      <div id="abroad_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

      <!-- Kartodiagramy -->
      <form>
        <select name="map" id="map">
          <option onclick="changeImage(2022);">2022</option>
          <option onclick="changeImage(2021);">2021</option>
          <option onclick="changeImage(2019);">2019</option>
          <option onclick="changeImage(2018);">2018</option>
          <option onclick="changeImage(2017);">2017</option>
        </select>
      </form>
      <figure>
        <img id="map4" src="themes/custom/zijem_vedu/img/images_numbers/ZVN_participation_2022_sk.png" alt="krajina" style="width: 480px">
        <figcaption>Obr. 4: Pôsobisko účastníkov v rámci Európy</figcaption>
      </figure>
      <figure>
        <img id="map5" src="themes/custom/zijem_vedu/img/images_numbers/ZVN_participation_world_2022_sk.png" alt="krajina" style="width: 700px">
        <figcaption>Obr. 5: Pôsobisko účastníkov celosvetovo</figcaption>
      </figure>
      <br>
      <p>
        Väčšina doterajších ročníkov vykázala v&nbsppriebehu prihlasovania veľmi podobné znaky:
      <ul>
        <li>najviac účastníkov sa registrovalo približne mesiac pred termínom konferencie (avšak najrýchlejším tempom pribudli počas tohto obdobia v&nbsproku&nbsp2017, rok&nbsp2018 bol naopak veľmi mierny),
        <li>podľa očakávania dochádzalo k&nbspvýraznému nárastu počtu prihlásených hneď po spustení registrácií
        <li>a&nbsprok čo rok milo prekvapuje aj mierne zvýšená aktivita po dušičkových sviatkoch.
      </ul>
      Odlišnosťou zaujali roky 2018 (okná medzi registráciami), 2019 (tri výrazné skokové nárasty) a&nbsp2022 (takmer lineárne hladký priebeh).
      </p>

      <!-- Cas prihlasenia: geo -->
      <div id="registration_timeSeries_sk" style="height: 100%; width: 100%;" class="plotly-graph-div"></div>

      <h2>Typ pracoviska</h2>
      <p>
        Typ pracoviska sme analyzovali len v&nbsprokoch 2017, 2018 a&nbsp2022; roky 2019 a&nbsp2021 sú z&nbspgrafov vylúčené kvôli absencii dát. Vo všeobecnosti prevažovali účastníci pôsobiaci na univerzitách (prispel k&nbsptomu aj vysoký počet študentov) a&nbspna výskumných pracoviskách. Tieto kategórie zároveň vykazovali aj najvyššie počty návštev zo zahraničia (<i>Obr.&nbsp7</i>). Od roku&nbsp2018 vďaka prítomnosti zástupcov prezentujúcich iniciatív vzrástla účasť z&nbsppodpory výskumu, príp. z&nbspkomerčných firiem, prevažne s&nbspúčasťou zo slovenských inštitúcií.
      </p>
      <p>
        Kým v&nbsproku 2017 medzi prítomnými prevažovali muži (okrem pracovísk z&nbspoblasti podpory výskumu a&nbsp v&nbspkategórii <i>iné</i>) a&nbsproky&nbsp2018 a&nbsp2022 mali opačnú tendenciu (s&nbspvýnimkou niektorých kategórií)&nbsp-&nbsppre rok&nbsp2018 to však pravdepodobne platí z&nbspdôvodu, že necelých 15&nbsp%&nbspregistrácií bolo vyplnených nekompletne (<i>Obr.&nbsp8</i>).
      </p>

      <div id="institution_country_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
      <div id="institution_gender_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>

      <h2>Pracovné zaradenie</h2>
      <p>
        <br>
        Väčšinu návštevníkov konferencie stabilne tvoria vedeckí pracovníci (seniori i&nbspjuniori), postdoktorandi a&nbspdoktorandi (<i>Obr.&nbsp9</i>). Zúčastňuje sa aj pomerne veľa študentov (vrátane niekoľkých stredoškolákov) a&nbspvďaka účasti iniciatív od roku&nbsp2018 výrazne pribudli ľudia mimo akademickej sféry (prevažne z oblasti podpory vedy).
      </p>
      <p>
        <i>Obr.&nbsp10</i> ukazuje spoločnú črtu kompletne spracovaných ročníkov 2017&nbspa&nbsp2018,a&nbspto nižší počet prítomných žien na vyšších akademických pozíciách&nbsp-&nbspčo sa však výrazne zlepšilo v&nbsproku 2022.
      </p>

      <div id="position_country_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
      <div id="position_gender_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>


      <h2>Odbory</h2>
      <p>
        Na všetkých piatich ročníkoch prevažovali prírodovedné a technické odbory, a&nbspto aj medzi registrovanými záujemcami, ktorí sa v&nbsprokoch 2017 a&nbsp2018 nakoniec nezúčastnili (avšak&nbspdo grafu sme ich zaradili kvôli doplneniu spektra odborov všetkých záujemcov, ktorých konferencia oslovila). Od roku&nbsp2018 pribudli účastníci z&nbspiných odborov&nbsp-&nbspspoločenské a&nbsphumanitné vedy&nbsp(SSH) zatiaľ len mierne, podpora výskumu a&nbsppráca s&nbspmládežou však výrazne vďaka účasti zástupcov prezentujúcich iniciatív. Tento trend pokračoval aj v&nbspnasledujúcich rokoch a&nbspzároveň sa menila štruktúra jednotlivých celkov (<i>Obr.&nbsp11</i>).

      <p>
        Kým v&nbspprvých ročníkoch v&nbspkategórii SSH prevládali vedy orientované do minulosti ľudstva, postupne ich počtom účastníkov prevýšili sociálne a&nbsppolitické vedy a&nbspv&nbspposlednom roku získala dominantné postavenie psychológia. V&nbspkategórii <i>iné</i> stabilne prevažovala podpora výskumu, avšak v&nbspposledných dvoch rokoch vzrástol počet účastníkov zameraných na otvorenú vedu. Medzi STEM odbormi viedli vedy spríbuznené s&nbspbiológiou a&nbspod roku 2019 prebrali pomyselnú štafetu od fyziky medicínske odbory.
      </p>

      <!-- Odbory -->
      <div id="subject_sk" style="height: 100%; width: 50%;" class="plotly-graph-div"></div>
    </div>

    <div id="conclusion" class="tab-pane fade">
      <h3>Zoznam použitého (slobodného) softvéru</h3>
      <table style="width: 50%; border-collapse: separate; border-spacing: 0 30px;">
        <tr>
          <!-- Python -->
          <td style="text-align:center">
            <a href="https://www.python.org/" target="_blank">
              <img src="themes/custom/zijem_vedu/img/images_numbers/logos/python-logo-master-v3-TM.png" alt="python" style="width:50%;">
            </a>
          </td>
          <!-- Plotly -->
          <td style="text-align:center">
            <a href="https://plotly.com/" target="_blank">
              <img src="themes/custom/zijem_vedu/img/images_numbers/logos/plot_ly-official.svg" alt="plotly" style="width:30%;">
            </a>
          </td>
          <!-- QGIS -->
          <td style="text-align:center">
            <a href="https://qgis.org/en/site/" target="_blank">
              <img src="themes/custom/zijem_vedu/img/images_numbers/logos/qgis_main_logo.png" alt="QGIS" style="width:30%;">
            </a>
          </td>
        </tr>
        <tr>
          <!-- LibreOffice -->
          <td style="text-align:center">
            <a href="https://www.libreoffice.org/" target="_blank">
              <img src="themes/custom/zijem_vedu/img/images_numbers/logos/LibreOffice_external_logo_600px.png" alt="libreOffice" style="width:50%;">
            </a>
          </td>
          <!-- JavaScript -->
          <td style="text-align:center">
            <a href="https://www.w3schools.com/js/" target="_blank">
              <img src="themes/custom/zijem_vedu/img/images_numbers/logos/512px-JavaScript-logo.png" alt="javascript" style="width:30%;">
            </a>
          </td>
          <!-- Ubuntu -->
          <td style="text-align:center">
            <a href="https://ubuntu.com/" target="_blank">
              <img src="themes/custom/zijem_vedu/img/images_numbers/logos/ubuntu-logo14.png" alt="ubuntu" style="width:30%;">
            </a>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <h3>Postup spracovania dát</h3>
            Anonymizované dáta z&nbspregistračných formulárov boli vyčistené v prostredí <i>LibreOffice</i>. Kontingenčné tabuľky v&nbsptextovom formáte boli spolu s&nbsppreddefinovanými vlastnosťami grafov prevedené na premenné v&nbspjazyku <i>JavaScript</i> pomocou skriptu, ktorý bol napísaný v&nbspjazyku <i>Python</i> za účelom automatizovaného prevodu dát 					v&nbspjednotlivých ročníkoch konferencie <i>Žijem vedu naživo</i> i&nbspv&nbspsúhrnnom prehľade. Vykreslenie grafov prebieha pomocou webového nástroja <i>Plotly</i> a&nbspkrátkeho skriptu v&nbspjazyku <i>JavaScript</i>.
          </td>
        </tr>
      </table>
      <br>
      <h3>Na blogu spolupracovali</h3>
      <p>Spracovanie a vizualizácia anonymizovaných dát z&nbspregistračných formulárov, text: <b>Eva Stopková</b><br>
        Príprava dát a konzultácie: <b>Lenka Belicová</b>, <b>Katarína Janšáková</b>, <b>Jana Laláková</b><br>
        Správa webstránky: <b>Peter Lachký</b></p>
    </div>
  </div>
</div>
