<p class="text-uppercase text-center fw-bolder">PS: Už nás sledujete?</p>
<ul class="social__list social__list--center social__list--light py-2 social__list--main">
  <li class="mx-3"><a href="https://twitter.com/zijemvedu"><i class="fab fa-twitter"></i></a></li>
  <li class="mx-3"><a href="https://www.instagram.com/zijemvedu"><i class="fab fa-instagram"></i></a></li>
  <li class="mx-3"><a href="https://www.linkedin.com/company/zijem-vedu/"><i class="fab fa-linkedin"></i></a></li>
  <li class="mx-3"><a href="https://www.facebook.com/zijemvedu"><i class="fab fa-facebook"></i></a></li>
</ul>
