<p class="text-uppercase text-center fw-bolder">PS: Už nás sledujete?</p>
<ul class="social__list social__list--center social__list--light py-2 social__list--main">
  {% include '@zijem_vedu/social-links.html.twig' with {'class': 'mx-3'} %}
</ul>
