<div class="newsletter__wrapper d-flex" id="newsletter-section">
  <div class="newsletter__icon">
    <i class="far fa-bell fa-3x"></i>
  </div>
  <div class="newsletter__content px-4 py-5">
    <h2>ZV občasník</h2>
    <p class="fw-bolder">Prihláste sa na odber nášho newslettera, aby vám neušli nové články a podcasty.</p>
    <p id="newsletter_notice" class="text-success"></p>
    <p id="newsletter_errors" class="text-danger"></p>
    <form action="#" id="newsletter-subscription">
      <div class="input-group mb-3">
        <input id="email" type="text" class="form-control" placeholder="Zadajte e-mail" aria-label="Zadajte e-mail" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary btn-gradient" type="submit" id="button-addon2">Odoslať</button>
      </div>
    </form>
    <p class="fw-bold">Žiaden spam. Vaša emailová adresa je v bezpečí.</p>
  </div>
</div>
