<div class="partners">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="p-0 fs-8 text-uppercase text-center text-muted">Podporili nás</p>
      </div>
    </div>
    <div class="row py-3 align-items-center justify-content-center">
      <div class="partner">
        <a href="http://www.solved.fi/">
          <img src="/themes/custom/zijem_vedu/img/partners/solved.png" alt="Solved">
        </a>
      </div>
      <div class="partner">
        <a href="https://www.nadaciaeset.sk/">
          <img src="/themes/custom/zijem_vedu/img/partners/nadacia-eset.svg" alt="Nadacia ESET">
        </a>
      </div>
      <div class="partner">
        <a href="https://nadaciaeph.sk/">
          <img src="/themes/custom/zijem_vedu/img/partners/eph.svg" alt="Nadacia EPH">
        </a>
      </div>
      <div class="partner">
        <a href="https://www.sli.do/">
          <img src="/themes/custom/zijem_vedu/img/partners/slido.svg" alt="Slido">
        </a>
      </div>
      <div class="partner">
        <a href="https://www.btsgroup.sk/">
          <img src="/themes/custom/zijem_vedu/img/partners/bts.png" alt="BTS">
        </a>
      </div>
      <div class="partner">
        <a href="https://www.websupport.sk/">
          <img src="/themes/custom/zijem_vedu/img/partners/websupport.svg" alt="websupport">
        </a>
      </div>
      <div class="partner">
        <a href="https://www.slovshore.com/">
          <img src="/themes/custom/zijem_vedu/img/partners/slovshore.png" alt="SlovShore">
        </a>
      </div>
    </div>
  </div>
</div>
