<section class="site__entry site__entry--full" style="background-image: url('/themes/custom/zijem_vedu/img/entry_homepage.png');">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
        <h1 class="family-heading text-center mb-5">Spájame slovenské vedkyne<br /> a vedcov <u>doma aj v zahraničí</u></h1>
      </div>
      <div class="col-12 col-md-5 offset-md-2">
        <p class="subheading fw-bold text-uppercase color-violet-dark mb-2">Platforma Žijem vedu</p>
        <p>Zoznámte sa so slovenskými vedcami, ktorí pôsobia doma aj v zahraničí, debatujte s odborníkmi, nadviažte nové spolupráce, vytvárajte spoločné projekty.</p>
      </div>
      <div class="col-12 col-md-5">
        <a href="/platforma" class="btn btn-xl btn-gradient btn-double"><span>VIAC</span><span>O PLATFORME <i class="fas fa-arrow-right"></i></span></a>
      </div>
    </div>
  </div>
</section>
