<div class="footer__lower">

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-4">
        <p class="fw-bold fs-8 text-uppercase color-gold">KONTAKT</p>
        <p><a href="mailto:zijemvedu@zijemvedu.sk" class="fs-8 color-white">zijemvedu@zijemvedu.sk</a></p>
        <p class="color-gold fs-8"><b>Sídlo:</b><br />Pyrenejská 8A, 831 01, Bratislava - Nové mesto, Bratislava III</p>
        <p class="color-gold fs-8"><b>IČO:</b> 51877066</p>
        <p class="color-gold fs-8">
          <b>Bankové spojenie:</b><br />Slovenská sporiteľňa, a.s.<br />
          <b>Číslo účtu/IBAN:</b><br />SK42 0900 0000 0051 5149 3968<br />
          <b>SWIFT/BIC:</b><br />GIBASKBX<br />
        </p>

      </div>
      <div class="col-md-12 col-lg-4">
        <p class="fw-bold fs-8 text-uppercase color-gold">ŽijemVedu OZ</p>
        <ul class="footer__nav">
          <li><a href="/platforma">Platforma</a></li>
          <li><a href="{{ base_path ~ directory }}/pdf/stanovy_oz_zijem_vedu.pdf">Stanovy</a></li>
          <li><a href="https://www.transparentneucty.sk/#/ucet/SK4209000000005151493968">Transparentný účet</a></li>
        </ul>
      </div>
      <div class="col-md-12 col-lg-4">
        <ul class="social__list social__list--left social__list--dark pt-3">
          {% include '@zijem_vedu/social-links.html.twig' with {'class': 'mx-3'} %}
        </ul>
      </div>

    </div>
    <div class="row py-3">
      <div class="col-9">
        <p class="color-gold">Spájame slovenské vedkyne a vedcov © {{ 'now' | date('Y') }}</p>
      </div>
      <div class="col-3">

      </div>
    </div>
  </div>

</div>
