<nav id="navbar" class="navbar navbar-light navbar-light navbar-expand-lg fixed-top">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between w-100">
      <a class="navbar-brand col-6 col-lg-2" href="/">
        <img src="/{{ base_path ~ directory }}/img/Zijem_vedu_logo.png" alt="">
      </a>
      <div class="cols-auto offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        {{ page.navigation }}
      </div>
      <div class="col-lg-2 d-none d-lg-block text-end">
        <ul class="social__list social__list--header social__list--light">
          {% include '@zijem_vedu/social-links.html.twig' with {'class': ''} %}
        </ul>
      </div>

      <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>
  </div>
</nav>
